@import "src/sass/partials/vars";

.active-sessions {
    .button {
        margin: 2px 0;
        &>.middle {
            &>.text {
                font-weight: 500;
            }

            &>.subtext {
                font-size: 14px;
                margin-bottom: 5px;
            }

            &>.description {
                font-size: 14px !important;
            }
        }
        &>.right {
            .time {
                font-size: 14px;
                color: $darkgreytext;
            }
        }
    }
}