.folder-list {

  justify-content: normal;
  overflow-x: auto;

  &::-webkit-scrollbar-thumb:horizontal {
    background: transparent;
    height: 0;
  }

  &::-webkit-scrollbar:horizontal {
    height: 0;
    background: transparent;
  }

  .folder {
    flex-shrink: 0;
  }

  .folder .title {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    .badge {
      margin-left: 6px;
      flex-shrink: 0;
      right: 0;
      background-color: #c4c9cc;
      min-width: 24px;
      height: 24px;
      text-align: center;
      border-radius: 12px;
      font-size: 14px;
      color: #fff;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        background: #5EB5F6;
      }

      &:empty {
        display: none;
      }
    }

  }

}