$lightblue: #e6ebee;
$blue: #50a2e9;
$blue-hover: #4796E1;

$darkblue: #1da1f1;
$blueonline: #3390EC;

$button-background: $blue;
$button-background-hover: $blue-hover;
$button-text-color: #fefefe;

$flat-button-hover-background: #f4f4f5;


// do not fking delete this
.color-blue {
  color: $blue;
}