html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}

$header_height: 60px;
$inside_header_height: 46px;

$border_color: #DADCE0;
$search_input_color: #F4F4F5;
$chat_background: #E6EBEE;

.text-center {
  text-align: center;
}

.center-block {
  display: block;
  position: relative;
  margin: auto;
}

.hide-block {
  display: none !important;
}

.relative-block {
  position: relative;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.login-grid {
  grid-template-columns: 300px;
  grid-template-rows: repeat(auto-fill, 1fr);
  justify-content: center;
  align-items: center;
  grid-row-gap: 5vh;
  padding-top: 10vh;
}

.logo {
  width: 150px;
  justify-self: center;
  margin: 5px;
}

.login-text-header {
  font-size: 28px;
  font-weight: bold;
}

.login-text-description {
  margin: 10px 40px;
  font-size: 14px;
  color: #707579;
}

.inputs .checkbox-input {
  margin-left: 15px;
}

.inputs .default-input {
  margin-bottom: 20px;
}

.default-input {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding-left: 15px;
  transition: border 0.1s ease-in-out;
  border: 1px solid $border_color;
  border-radius: 8px;
  font-size: 14px;
  caret-color: #4EA4F6;
  display: flex;
  align-items: center;
  color: #000000;
}

.default-input:hover {
  border: 1px solid #000;
}

.default-input:focus,
.default-input.focused {
  border: 2px solid #4EA4F6;
}

.checkbox-input {
  display: block;
  position: relative;
  user-select: none;
  padding-top: 3px;
  font-size: 14px;
}

.checkbox-input input {
  position: absolute;
  opacity: 0;
  cursor: default;
  height: 0;
  width: 0;
}

.checkbox-input .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $border_color;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.checkmark:hover {
  background-color: #1d8bf4;
}

.checkbox-input input:checked ~ .checkmark {
  background-color: #4EA4F6;
  background-image: url("../../public/static/images/icons/check_svg.svg");
  background-size: contain;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label {
  margin-left: 50px;
}

.checkbox-input input:checked ~ .checkmark:after {
  display: block;
}

.country-selector {
  background: transparent;
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
  cursor: pointer;
}

.country-selector-container {
  width: 300px;
  position: absolute;
  top: 48px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-radius: 1em;
  z-index: 43;
  height: 30vh;
  overflow-y: overlay;
  margin-bottom: 30px;
}

.country-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.country-item:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.country-item:last-child {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.country-item:hover {
  background-color: #e6e6e6;
}

.country-flag {
  width: 30px;
  padding: 10px;
}

.country-flag > img {
  width: 20px;
  height: 20px;
}

.country-name {
  width: 100%;
  padding-left: 10px;
}

.country-code {
  color: #707579;
  width: 100px;
  padding-right: 10px;
}

.monkey {
  width: 150px;
  height: 150px;
  justify-self: center;
}

.password-input[type=password] {
  background: transparent url("../../public/static/images/icons/eye1_svg.svg") no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.password-input[type=text] {
  background: transparent url("../../public/static/images/icons/eye2_svg.svg") no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.invalid-password:focus {
  outline: none;
  border: 2px solid red;
  caret-color: red;
}

.next-button {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding-left: 15px;
  transition: border 0.1s ease-in-out;
  border: 0;
  border-radius: 8px;
  background-color: #4EA4F6;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}

.next-button:focus {
  outline: none;
}

.next-button:hover {
  background-color: #1d8bf4;
}

.photo-selector {
  justify-self: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #4EA4F6;
  cursor: pointer;
}

.add-photo {
  height: 50px;
  width: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(200, 200, 200, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(90, 90, 90, 0.8);
}

.floating-label {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  z-index: 3;
}

.floating-label-field {
  z-index: 2;
}

.floating-label-field:focus {
  outline: 0;
  box-shadow: 0;
}

.floating-label-field::placeholder {
  color: transparent;
}

.floating-label-field:not(textarea) {
  max-height: 4em;
}

.floating-label,
.floating-label-field {
  font: inherit;
  line-height: 1;
  display: block;
  width: 100%;
}

.floating-label-field,
.floating-label-wrap {
  position: relative;
}

.floating-label-field + .floating-label {
  position: absolute;
  top: 0.75em;
  left: 15px;
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0.3em;
  transition: transform 0.1s, opacity 0.1s, padding 0.1s ease-in-out;
  transform-origin: 0 0;
  color: #707579;
}

.floating-label-field:not(:placeholder-shown) + .floating-label {
  z-index: 10;
  transform: translate(-0.2em, -1.25em) scale(0.7);
  color: #707579;
  background-color: #ffffff;
}

.floating-label-field:not(:placeholder-shown):focus + .floating-label {
  color: #4EA4F6;
}

/*# sourceMappingURL=style.css.map */

.round-block {
  border-radius: 50%;
}

.clickable {
  cursor: pointer;
}

.responsive-img {
  height: auto;
  width: 100%;
}

.flex-center {
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.full-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.chats-grid {
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
}

@media(max-width: 1000px) {
  .chats-grid {
    grid-template-columns: 2fr 3fr;
    overflow: hidden;
  }
}

.chats-grid.right-panel-visible {
  grid-template-columns: 1fr 2fr 1fr;
  overflow: hidden;
}

@media(max-width: 1000px) {
  .chats-grid.right-panel-visible {
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
  }
}

.dialog-container {
  display: flex;
  /*fix for overflowing message text*/
  flex-direction: column;
  min-width: 0;

  border-right: 1px solid $border_color;
}

.dialog-header {
  width: 100%;
  height: $header_height;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messages {
  position: relative;
}

.chat-not-selected {
  color: #707579;
  width: 300px;
}

.select-chat-icon {
  width: 150px;
}

.create-chat-options {
  display: flex;
  justify-content: space-between;
}

.create-chat-button {
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-color: #fefefe;
  border: 0px;
}

.create-chat-button:hover {
  background-color: #4CA8F8;
}

.create-chat-button:hover ~ span {
  color: #4EA4F6;
}

.select-chat {
  font-size: 24px;
}

.menu-button {
  cursor: pointer;
  width: 30px;
  margin: auto;
}

.search-box {
  width: 80%;
}

.search-input {
  height: $inside_header_height;
  margin-right: 20px;
  width: 95%;
  border-radius: 40px;
  border: none;
  padding-left: 30px;

  background-color: $search_input_color;
  background-image: url("../../public/static/images/icons/search_svg.svg");
  background-repeat: no-repeat;
  background-position-x: 2%;
  background-position-y: 50%;
}

.dialog-list {
  overflow-y: hidden;
  height: 90%;
}

.dialog-list:hover {
  overflow-y: overlay;
}

@supports not (overflow-y: overlay) {
  .dialog-list:hover {
    overflow-y: auto;
  }
}

.dialog-list-panel {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dialog-item {
  margin: 5px;
  padding: 5px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;
}

.dialog-item:hover {
  background-color: #eee;
}

.dialog-item.active {
  background-color: #eee;
}

.dialog-photo {
  height: 100%;
}

.dialog-info {
  margin-left: 10px;
  min-width: 100px;
  width: 100%;
}

.dialog-peer {
  margin-top: 3px;
  font-weight: bold;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dialog-short-text {
  margin-top: 5px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #666;
}

.dialog-meta {
  min-width: 51px;
  margin-top: 5px;
}

.dialog-time {
  font-size: 12px;
  float: right;
}

.status-check {
  font-size: 12px;
  float: left;
}

.dialog-notification {
  border-radius: 1.2em;
  background-color: #5CB165;
  font-size: 12px;
  min-width: 1.2em;
  height: 1.2em;
  padding: 3px;
  text-align: center;
  color: white;
  margin-left: 2px;
  /*margin-top: 2px;*/
  float: right;
  position: relative;
}

.dialog-short-text-sender {
  font-weight: bold;
  color: #000;
}

.muted {
  background-color: #bbb;
}

.dialog-pinned-panel {
  border-bottom: 1px solid #bbb;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(200, 200, 200, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(90, 90, 90, 0.8);
}

.im-header {
  border-bottom: 1px solid $border_color;
  background-color: white;

  width: 100%;
  min-width: 200px;
  height: $header_height;

  justify-content: space-between;
  align-items: center;

}

.im-header-info {
  align-items: center;
  height: $inside_header_height;
}

.im-header-photo {
  height: 100%;
  margin: 0px 10px;
}

.im-header-name {
  font-weight: bold;
  font-size: 14px;
  margin-top: 1px;
}

.im-header-status {
  font-size: 12px;
  margin-top: 3px;
  color: #666;
}

.im-header-button {
  border-radius: 50%;
  margin: 0px 5px;
  height: 2em;
  min-width: 2em;
  cursor: pointer;
  position: relative;
}

.im-header-button:hover {
  background-color: #eee;
}

.im-header-subscribe {
  background-color: #4CA8F8;
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 0px 10px;
  cursor: pointer;
  margin-right: 10px;
}

.im-header-subscribe:hover {
  background-color: #3895E0;
}

.im-background {
  background-color: $chat_background;
  height: 100%;
}

.im-container {
  margin: auto;
  max-width: 70%;
  min-width: 400px;
  height: 100%;

  justify-content: flex-end;
}

.im-typebox {
  height: 50px;
  width: 100%;

  justify-content: space-between;

  margin: 20px 0;
}

.im-textarea {
  background-color: white;
  width: 90%;

  border-radius: 10px;
  position: relative;
  z-index: 42;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.im-textarea:before {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -1px;
  right: -5px;
  height: 20px;
  width: 14px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.im-textarea:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: -11px;
  width: 10px;
  height: 20px;
  background-color: #eee;
  border-bottom-left-radius: 10px 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.im-typebox-button {
  border-radius: 50%;
  background-color: #4CA8F8;
  width: 50px;
  height: 50px;
  position: relative;
}

.im-history {
  overflow-y: hidden;
  padding: 10px 10px;
  padding-right: 20px;
}

.im-history:hover {
  overflow-y: overlay;
}

.right-panel {
  background-color: white;
  border-left: 1px solid $border_color;
  overflow-y: hidden;
}

.right-panel:hover {
  overflow-y: overlay;
}

.right-panel-header {
  height: 48px;
  align-items: center;
}

.right-panel-close {
  margin: 0px 20px;
}

.right-panel-title {
  width: 100%;
  font-size: 20px;
}

.right-panel-more {
  margin: 0px 20px;
}

.right-panel-content {
  //height: 100%;
}

.right-panel-photo-container {
  height: 120px;
  width: 100%;
  position: relative;
}

.right-panel-photo {
  max-width: 100px;
}

.right-panel-name {
  font-size: 20px;
  font-weight: bold;
}

.right-panel-status {
  margin-top: 5px;
  color: #4CA8F8;
  font-size: 14px;
}

.right-panel-details-block {
  align-items: center;
  margin-bottom: 10px;
}

.details-icon {
  margin: 2px 20px;
  height: 22px;
}

.details-text {
  margin-top: 14px;
  font-size: 14px;
}

.details-label {
  color: #777;
  font-size: 12px;
  margin-top: 3px;
}

.notification-checkbox .checkbox-input { /*IMPORTANT!*/
  padding-left: 22px; /*HERE*/
}

.gallery {
  width: 100%;
  margin-top: 10px;
}

.gallery-header {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #bbb;
}

.gallery-header-item.selected {
  border-bottom: 3px solid #2196F3;
  height: 90%;
  color: #2196F3;
}

// message.css

.message {
  min-height: 20px;

  min-width: 20px;
  max-width: 70%;
  display: inline-block;

  border-radius: 12px;
  padding: 5px 10px;
  position: relative;
  flex: 1 0 auto;

  margin-bottom: 5px;

  align-self: flex-start;

  background-color: white;

  //border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px #ccc;
  background-clip: padding-box;
  z-index: 42;
}

.message-self {
  border-radius: 12px;
  align-self: flex-end;
  padding-right: 10px;
  background-color: #EFD
}

.message-self:not(.grouped) {
  border-radius: 12px 12px 0 12px;
}
.message:not(.grouped) {
  border-radius: 12px 12px 12px 0;
  margin-bottom: 10px;
}
/*
.message:not(.grouped):before {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -1px;
  left: -5px;
  height: 20px;
  width: 14px;
  background-color: red;
}

.message:not(.grouped):after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -9px;
  width: 10px;
  height: 20px;
  background-color: green;
  border-bottom-right-radius: 10px 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.message-self:not(.grouped):before {
  left: auto;
  right: -10px;
  height: 20px;
  width: 20px;
  background-color: #EFD;
  bottom: 0.5px;
}

.message-self:not(.grouped):after {
  left: auto;
  right: -11px;
  width: 10px;
  height: 20px;
  background-color: green;
  border-bottom-left-radius: 10px 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  border-bottom-right-radius: 0 0;
}*/

.message-text {
  font-size: 14px;
  word-break: break-word;
  display: inline;
}

.message-meta {
  font-size: 12px;
  display: inline;
  color: #777;
  position:  relative;
  margin-right: -10px;
}

.message-meta.absolute {
  font-size: 12px;
  display: block;
  float: none;
  position: absolute;
  bottom: 5px;
  right: 5px;

  margin: 0;
  padding: 3px 5px;
  color: white;

  height: 14px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.2);
}

.message-status {
  margin-top: 1px;
  height: 12px;
}

.message-self .blockquote {
  border-left: 2px solid #4EA4F6;
}

.message-self .blockquote > .title,
.message-self .message-forwarded-text {
  color: #4EA4F6;
}

.blockquote {
  border-left: 2px solid #2196F3;
  padding-left: 5px;
  font-size: 13px;
}

.blockquote > .title,
.message-forwarded-text {
  color: #2196F3;
  font-size: 12px;
  font-weight: bold;
  margin: 2px 0px;
}

.message-reply {
  text-overflow: ellipsis;
}

.message-voice-playbutton {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #2196F3;
}

.message-voice-playbutton > img {
  width: 25px;
  height: 25px;
}

.message-voice-levels {
  height: 30px;
}

.message-voice-timer {
  font-size: 10px;
}

.message-image {
  width: calc(100% + 20px);
  margin-bottom: 5px;
  cursor: pointer;
}

.message-image > img {
  height: auto;
  width: 100%;
  margin: -5px -10px;
  /*i don't want to remove standard padding for one fucking entity!*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.message-image.cover + .message-meta {
  margin-top: 0px;
}

.message-image.cover {
  margin-bottom: 0px;
}

.message-image.cover > img {
  height: auto;
  width: 100%;
  margin: -8px -10px;
  /*i don't want to remove standard padding for one fucking entity!*/
  border-radius: 10px;
}

.message-sticker > img, .message-sticker > tgs-player, .message-roundvideo > video {
  max-width: 30vh;
  width: 100%;
}

.message.transparent {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.message.transparent:before, .message.tranparent:after {
  display: none;
}


