@import "partials/reset";
@import "partials/animation";
@import "partials/vars";

@import "partials/basic";
@import "partials/inputs";
@import "partials/emoji";

@import "partials/toolbar";
@import "partials/chat";
@import "partials/avatar";
@import "partials/chatlist";
@import "partials/chatInput";
@import "partials/message";
@import "partials/info";
@import "partials/contextMenu";
@import "partials/mediaViewer";
@import "partials/instantView";

@import "partials/fonts";

@import "partials/loading";
@import "partials/login";

@import "partials/modal";
@import "partials/croppie";

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}