{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "exclude": [
          "babel-plugin-transform-exponentiation-operator"
        ]
      }
    ],
    "@babel/preset-flow",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "VRDOM.jsx",
        "pragmaFrag": "VDOM.Fragment"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
