{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "exclude": [
          "babel-plugin-transform-exponentiation-operator"
        ]
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "VRDOM.jsx",
        "pragmaFrag": "VDOM.Fragment"
      }
    ]
  ]
}
