.dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  .country-flag {
    margin-left: 15px;
    margin-right: 5px;
    img {
      height: 25px;
      width: 25px;
    }
  }

  .country-name {
    width: 100%;
    font-size: 14px;
    padding-left: 10px;
  }

  .country-code {
    color: #ccc;
    width: 100px;
    padding-right: 10px;
  }
}