@import "src/sass/partials/vars";

.sticker-set {
	display: flex;
	flex-direction: column;

	.container {
		display: grid;
		grid-template-columns: repeat(5, 80px);
		grid-auto-rows: 80px;
		grid-gap: 5px;
		padding: 0 5px;
		max-height: 300px;

		img {
            width: 100% !important;
            height: auto !important;
            max-height: 75px;
            object-fit: contain;
        }
	}

	.add {
		display: flex;
		justify-content: center;
		padding: 10px;
		border-top: 1px solid $lightgrey;
	}
}