@import "src/sass/partials/vars";
@import "src/sass/partials/mixins";

.sticker-set {
	display: flex;
	flex-direction: column;

	.container {
		display: grid;
		grid-template-columns: repeat(5, min-content);
        @include mobile {
            grid-template-columns: repeat(4, min-content);
        }
		grid-gap: 5px;
		padding: 0 5px;

		img {
            object-fit: contain;
        }
	}

	.add {
		display: flex;
        flex-shrink: 0;
		justify-content: center;
		padding: 10px;
		border-top: 1px solid $lightgrey;
	}
}