@mixin avatar {
    & .avatar {
        grid-area: avatar;
        filter: drop-shadow(0 1px 2px rgba(16, 35, 47, 0.15));

        height: 40px;
        width: 40px;
        flex-shrink: 0;
        border-radius: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        color: white;
        font-size: 1em;
        cursor: pointer;

        background-repeat: no-repeat;
        background-size: contain;
        transition: anim(background-image);

        &.hidden {
            visibility: hidden;
            height: 0;
        }

        &.placeholder-0 {
            background-color: #cc90e2;
        }

        &.placeholder-1 {
            background-color: #80d066;
        }

        &.placeholder-2 {
            background-color: #ecd074;
        }

        &.placeholder-3 {
            background-color: #6fb1e4;
        }

        &.placeholder-4 {
            background-color: #e57979;
        }

        &.placeholder-5 {
            background-color: #f98bae;
        }

        &.placeholder-6 {
            background-color: #73cdd0;
        }

        &.placeholder-7 {
            background-color: #fba76f;
        }
    }
}