/*@mixin bubbles-list($in: false) {
    $out: $in == false;
    & .bubbles-list {
        display: flex;
        flex-direction: column;
        width: 100%;

        @if $in {
            align-items: flex-start;
        }

        @if $out {
            align-items: flex-end;
        }

        >* {
            margin-bottom: 5px;

            @if $in {
                margin-left: 11px;

                .bubble {
                    padding-left: 0;

                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                }
            }

            @if $out {
                margin-right: 11px;

                .bubble {
                    padding-right: 0;

                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }
            }
        }

        > :first-child {
            .bubble {
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }
        }

        > :last-child {
            margin-bottom: 0;

            @if $in {
                margin-left: 0;

                .inline-keyboard {
                    margin-left: 11px !important;
                }
            }

            @if $out {
                margin-right: 0;

                .inline-keyboard {
                    margin-right: 11px !important;
                }
            }

            .bubble {

                @if $in {
                    padding-left: 10px !important;

                    &.no-pad {
                        padding-left: 0 !important;
                    }

                    border-bottom-right-radius: 12px;

                    &:not(.transparent) {
                        border-bottom-left-radius: 0;
                    }

                    &.transparent {
                        border-bottom-left-radius: 12px;
                    }

                    -webkit-mask-image: url("../../public/static/images/tail-left.svg"),
                    url("../../public/static/images/rect-left-6px.svg");
                    mask-image: url("../../public/static/images/tail-left.svg"),
                    url("../../public/static/images/rect-left-6px.svg");
                }

                @if $out {
                    padding-right: 10px !important;

                    &.no-pad {
                        padding-right: 0 !important;
                    }

                    border-bottom-left-radius: 12px;

                    &:not(.transparent) {
                        border-bottom-right-radius: 0;
                    }

                    .transparent {
                        border-bottom-right-radius: 12px;
                    }

                    -webkit-mask-image: url("../../public/static/images/tail-right.svg"),
                    url("../../public/static/images/rect-right-6px.svg");
                    mask-image: url("../../public/static/images/tail-right.svg"),
                    url("../../public/static/images/rect-right-6px.svg");
                }
            }
        }


        > :only-child {
            .bubble {
                @if $in {
                    -webkit-mask-image: url("../../public/static/images/tail-left.svg"), url("../../public/static/images/rect-left.svg");
                    mask-image: url("../../public/static/images/tail-left.svg"), url("../../public/static/images/rect-left.svg");
                }

                @if $out {

                    -webkit-mask-image: url("../../public/static/images/tail-right.svg"), url("../../public/static/images/rect-right.svg");
                    mask-image: url("../../public/static/images/tail-right.svg"), url("../../public/static/images/rect-right.svg");
                }
            }
        }
    }
}*/