@mixin game($in: false, $transparent: false) {
    & .game {
        margin-top: 5px;
        .title {
            font-weight: 500;
        }

        .info {
            margin: 5px 0;
        }

        .game-image {
            max-width: 100%;
        }
    }
}
