@mixin header($in: false, $transparent: false) {

    & .peer-name,
    & .fwd {
        font-weight: 500;
        font-size: 14px;
        margin: 6px 6px -8px 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;

        @if $in {
            color: $blueonline;
        } @else {
            color: $darkgreen;
        }

        @if $transparent {
            display: none;
        }

        .no-bold {
            font-weight: 400;
        }

        .clickable-name {
            cursor: pointer;
        }

        & ~ figure, & ~ .grouped {
            margin-top: 10px;
        }
    }

    & .peer-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .username, .rank {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .rank {
            padding-left: 10px;
            color: $darkgreytext;
            font-weight: normal;
        }
    }

    &.no-pad {
        .fwd {
            //padding-left: 15px;
        }
    }
}