@mixin header($in: false, $transparent: false) {

    & .username,
    & .fwd {
        font-weight: 500;
        font-size: 14px;
        margin: 6px 11px -8px 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;

        @if $in {
            color: $blueonline;
        } @else {
            color: $darkgreen;
        }

        @if $transparent {
            display: none;
        }

        .no-bold {
            font-weight: 400;
        }

        .clickable-name {
            cursor: pointer;
        }

        & ~ figure, & ~ .grouped {
            margin-top: 10px;
        }
    }

    &.no-pad {
        .fwd {
            //padding-left: 15px;
        }
    }
}