@mixin map($in: false, $transparent: false) {
    & .venue {
        padding: 5px;
        font-size: 14px;

        .title {
            font-weight: 500;
        }

        .address {
            color: $darkgrey;
        }
    }

    & .map-wrapper {
        position: relative;
        cursor: pointer;
        margin: 0 -10px;

        &.map {
            max-width: 300px;
            max-height: 300px;
        }

        .pin-point {
            position: absolute;
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: 60px;
        }
    }
}