@mixin map($in: false, $transparent: false) {
    & .venue {
        padding: 10px;
        font-size: 14px;

        .title {
            font-weight: 500;
        }

        .address {
            color: $darkgrey;
        }
    }

    & .map {
        position: relative;
        cursor: pointer;

        &.media-wrapper {
            max-width: 300px;
            max-height: 300px;
        }

        .pin-point {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -80%);
            font-size: 60px;
        }
    }
}