#bubbles {
    height: 100%;
    padding-bottom: 5px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) calc(100% - 16px), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) calc(100% - 16px), rgba(0, 0, 0, 0));

    @include service;

    .channel {
        &.message {
            grid-template-columns: min-content 1fr;
            .avatar {
                display: none;
            }
        }
    }

    .message {
        /*display: flex;
        flex-direction: row;*/
        display: grid;
        position: relative;
        grid-template-areas:
        "avatar message"
        "empty keyboard";
        grid-template-columns: min-content fit-content(480px);

        filter: drop-shadow(0 1px 2px rgba(16, 35, 47, 0.15));

        @include avatar;

        //overflow: hidden;
        // ЖЕРЕ ХВОСТИ В ПОВІДОМЛЕНЬ
        // я тимчасово зламаю хвостики бо перероблюю цсс, вже маю трохи ідею як зробити свгшкою то всьо
        //                                                                          - @undrfined

        //Коли вже svg?
        //                                                                          - @prettydude

        // https://youtu.be/ciL7OKWSu10
        // Right behind you...
        //                                                                          - @undrfined

        // let total_wasted_hours = 16

        &.in {
            float: left;
        }

        &.out {
            //justify-content: end;
            float: right;

            .avatar {
                display: none; //idk how it was done before
            }
        }

        &.in>.message-content {
            background-color: #ffffff;
            -webkit-mask-position: 0% 100%;
            mask-position: 0% 100%;
            //-webkit-mask-composite: xor, source-over;

            &.has-inline-keyboard {
                border-bottom-right-radius: 6px;
            }

            &.transparent {
                @include header($in: true, $transparent: true);
                @include reply($in: true, $transparent: true);
            }

            .text-wrapper {
                margin-right: 3px;
            }

            @include time($in: true);
            @include box($in: true);
            @include header($in: true, $transparent: false);
            @include reply($in: true, $transparent: false);
            @include audio($in: true);
            @include iv-button($in: true);
            @include tails($in: true);
        }

        &.out>.message-content {
            background-color: #eeffde;
            -webkit-mask-position: 100% 100%;
            mask-position: 100% 100%;
            //-webkit-mask-composite: xor, source-over;

            &.has-inline-keyboard {
                border-bottom-left-radius: 6px;
            }

            &.transparent {
                padding-right: 0;

                @include header($in: false, $transparent: true);
                @include reply($in: false, $transparent: true);
            }

            @include time($in: false);
            @include box($in: false);
            @include header($in: false, $transparent: false);
            @include reply($in: false, $transparent: false);
            @include audio($in: false);
            @include iv-button($in: false);
            @include tails($in: false);
        }

        .message-content {
            min-height: 33px;
            grid-area: message;
            border-radius: 6px;
            //position: relative;
            position: static;
            z-index: 0;
            display: inline-table;
            overflow: hidden;

            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

            &.transparent {
                border-radius: 0 !important;
                background-color: transparent;
                box-shadow: none;
                //overflow: visible; //fix for replies
            }

            &.no-mask, &.transparent {
                -webkit-mask-image: none !important;
                mask-image: none !important;
            }

            .text-wrapper {
                line-height: 1.2;
                word-wrap: break-word;
                margin-top: 7px;
                margin-bottom: 4px;
                user-select: text;
            }

            .card {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            //not dependant
            @include game;
            @include poll;
            @include map;
            @include sticker;
            @include figure;
            @include media-wrapper;

            a:not(.button) {
                color: $darkblue;

                &:hover {
                    text-decoration: underline;
                }
            }

            .grouped {
                border-radius: 0;
                grid-gap: 2px;
                height: auto;
                max-height: 512px;
            }
        }
    }
}