.body.safari {
    #bubbles .message {
        filter: none !important;
    }
}
#bubbles {
    height: 100%;
    padding-bottom: 5px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) calc(100% - 16px), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) calc(100% - 16px), rgba(0, 0, 0, 0));

    @include service;

    .channel {
        &.message {
            grid-template-columns: min-content fit-content(100%) min-content;

            & > .avatar {
                display: none;
            }
        }
    }

    .message-with-date {
        display: flex;
        flex-direction: column;

        .service {
            justify-self: center;
            align-self: center;
        }
    }

    .message {
        display: grid;
        position: relative;
        grid-template-columns: min-content fit-content(480px) min-content;
        animation: opacity-fade-in 0.3s ease;

        filter: drop-shadow(0 1px 2px rgba(16, 35, 47, 0.15));
        //filter: none;
        &.in {
            grid-template-areas: 
                "avatar message side"
                "empty keyboard e";

            .side {
                @include reply($in: true, $transparent: true);
            }
        }

        &.out {
            grid-template-areas: 
                "side message avatar" 
                "empty keyboard e";

            .side {
                @include reply($in: false, $transparent: true);
            }
        }

        @include mobile {
            grid-template-columns: min-content fit-content(90%) min-content;

            filter: none; // drop-shadow is very laggy on Webkit browsers
            /*.message-content {
                border: $semiblack 0.5px solid; //make messages more contrast
            }*/
        }


        @include avatar;

        //overflow: hidden;
        // ЖЕРЕ ХВОСТИ В ПОВІДОМЛЕНЬ
        // я тимчасово зламаю хвостики бо перероблюю цсс, вже маю трохи ідею як зробити свгшкою то всьо
        //                                                                          - @undrfined

        //Коли вже svg?
        //                                                                          - @prettydude

        // https://youtu.be/ciL7OKWSu10
        // Right behind you...
        //                                                                          - @undrfined

        // let total_wasted_hours = 16

        &.out {
            justify-content: end;

            & > .avatar {
                display: none; //idk how it was done before
            }
        }

        &.in > .message-content {
            background-color: #ffffff;
            -webkit-mask-position: 0% 100%;
            mask-position: 0% 100%;
            //-webkit-mask-composite: xor, source-over;
            border-bottom-left-radius: 6px;


            &.has-inline-keyboard {
                border-bottom-right-radius: 10px;
            }

            &.transparent {
                @include header($in: true, $transparent: true);
            }

            .text-wrapper {
                margin-right: 3px;
            }

            @include time($in: true);
            @include box($in: true);
            @include header($in: true, $transparent: false);
            @include reply($in: true, $transparent: false);
            @include audio($in: true);
            @include iv-button($in: true);
            @include tails($in: true);
            @include poll($in: true);
            //@include video($in: true);
        }

        &.out > .message-content {
            background-color: #eeffde;
            -webkit-mask-position: 100% 100%;
            mask-position: 100% 100%;
            //-webkit-mask-composite: xor, source-over;
            border-bottom-right-radius: 6px;

            &.has-inline-keyboard {
                border-bottom-left-radius: 10px;
            }

            &.transparent {
                padding-right: 0;

                @include header($in: false, $transparent: true);
            }

            a, a > span {
                color: $darkgreen;
            }

            @include time($in: false);
            @include box($in: false);
            @include header($in: false, $transparent: false);
            @include reply($in: false, $transparent: false);
            @include audio($in: false);
            @include iv-button($in: false);
            @include tails($in: false);
            @include poll($in: false);
            //@include video($in: false);
        }

        .message-content {
            min-height: 33px;
            grid-area: message;
            border-radius: 10px;
            position: relative;
            z-index: 0;
            //display: inline-table;
            overflow: hidden;

            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

            &.transparent {
                border-radius: 0 !important;
                background-color: transparent;
                box-shadow: none;
                //overflow: visible; //fix for replies
            }

            &.no-mask, &.transparent {
                -webkit-mask-image: none !important;
                mask-image: none !important;
            }

            .text-wrapper {
                line-height: 1.2;
                word-wrap: break-word;
                margin-top: 7px;
                margin-bottom: 4px;
                user-select: text;
                -webkit-user-select: text;

                &.empty {
                    margin-bottom: 0;
                    margin-top: -25px; //TODO check for overlaping
                }

                &.big {
                    &>span:first-child {
                        line-height: 2em;
                        .emoji {
                            width: 2.5em;
                            height: 2.5em;
                            margin: 0 0.1em 0 0.2em;
                            filter: drop-shadow(1px 1px 0 white)
                                drop-shadow(-1px 1px 0 white)
                                drop-shadow(1px -1px 0 white)
                                drop-shadow(-1px -1px 0 white);
                        }
                    }
                }
            }

            .card {
                min-width: 150px;
                margin-top: 10px;
                padding-right: 10px;
                margin-bottom: 5px;

                & ~ .text-wrapper.empty {
                    margin-top: -10px;
                }
            }

            &.no-pad {
                .text-wrapper {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }

            //not dependant
            @include game;
            @include map;
            @include sticker;
            @include figure;
            @include media-wrapper;
            @include grouped;
            @include video;

            a:not(.button) {
                color: $darkblue;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .side {
            grid-area: side;
            display: flex;
            flex-direction: column;
            padding: 5px 0;
            .filler {
                flex-grow: 1;
            }

            .share {
                cursor: pointer;
                position: relative;
                width: 30px;
                height: 30px;
                background-color: $semiblack;
                border-radius: 50%;
                margin: 5px 10px;
                .tgico {
                    font-size: 20px;
                    color: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}