@mixin reply($in: false, $transparent: false) {
    & .reply {
        font-size: 14px;

        &:hover {
            cursor: pointer;
            @if $in {
                background-color: $lightgrey;
            } 
            @if $in == false {
                background-color: mix($lightgreen, $lightgrey, 40%);
            }
        }
        //TODO duplicate of code from box, refractor it
        .quote {
            padding-left: 8px;
            .name {
                font-weight: 500;
                margin-top: 5px;

                &:first-child {
                    margin-top: 0px;
                }
            }
            .name, .text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        @if $transparent {
            background-color: white;
            border-radius: 10px;
            padding: 8px;

            .quote {
                max-width: 250px;
            }
        }

        @if $in {
            .quote {
                border-left: 2px $darkblue solid;
                .name {
                    color: $darkblue;
                }
            }
        }

        @if $in == false {
            .quote {
                border-left: 2px $darkgreen solid;

                .name {
                    color: $darkgreen;
                }
            }
        }

        & ~ figure {
            margin-top: 10px;
        }
    }

    &.no-pad {
        .reply {
            padding-right: 13px;
        }
    }


}