@mixin reply($in: false, $transparent: false) {
    & .reply {
        .quote {
            .name, .text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        @if $transparent {
            position: absolute;
            @if $in {
                right: 0;
                transform: translateX(calc(100% + 10px));
            }
            @if $in == false {
                left: 0;
                transform: translateX(calc(-100% - 10px));
            }
            background-color: white;
            border-radius: 10px;
            padding: 8px;

            .quote {
                max-width: 250px;
            }
        }

        @if $in {
            .quote {
                border-left: 2px $darkblue solid;
                .name {
                    color: $darkblue;
                }
            }
        }

        @if $in == false {
            .quote {
                border-left: 2px $darkgreen solid;

                .name {
                    color: $darkgreen;
                }
            }
        }

        & ~ figure {
            margin-top: 10px;
        }
    }

    &.no-pad {
        .reply {
            padding-right: 13px;
        }
    }


}