@mixin service {
    & .service {
        align-self: center;
        justify-content: center;
        margin: 5px 0;

        &.date {
            z-index: 100;
            top: 10px;
            //position: sticky; //TODO fix stacking
            transition: anim(opacity);
        }

        .photo {
            display: none;

            &[src] {
                display: block;
                margin: auto;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-top: 5px;
            }
        }

        .service-msg {
            color: white;
            background-color: $semiblack;
            font-weight: 500;
            padding: 0 8px;
            line-height: 24px;
            font-size: 15px;
            border-radius: 12px;
            user-select: text;
            -webkit-user-select: text;
            text-align: center;

            .clickable {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            a, a:visited {
                color: white;
            }
        }
    }
}