@mixin sticker($in: false, $transparent: false) {
    .sticker {
        min-width: 200px;
        max-width: 512px;
        height: auto;
        max-height: 512px;
        display: block;

        &.clickable {
            cursor: pointer;
        }

        img {
            border-radius: 8px; // DENYS, DO NOT TOUCH IT!!!(((
        }

        &.emoji {
            cursor: default;
        }
    }
}
