@mixin sticker($in: false, $transparent: false) {
    .sticker {
                min-width: 200px;
                max-width: 512px;
                height: auto;
                max-height: 512px;
                cursor: pointer;
                display: block;

                &.emoji {
                    cursor: default;
                }
            }
}
