@mixin sticker($in: false, $transparent: false) {
    .sticker {
        min-width: 200px;
        max-width: 512px;
        height: auto;
        max-height: 512px;
        display: flex;
        animation: opacity-fade-in 0.3 ease-in-out;

        &.clickable {
            cursor: pointer;
        }

        img {
            border-radius: 8px; // DENIS, DO NOT TOUCH IT!!!(((
                                // Ok.
        }

        &.emoji {
            cursor: default;
        }
    }
}
