@mixin tails($in: false, $transparent: false) {
    $out: $in==false;

    & {
        padding-right: 5px;
    }

    &.group-s {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-top: 10px;
    }

    &.group-m {
        margin-top: 5px;
    }

    &.group-e {
        margin-top: 5px;
    }

    &.group-se {
        margin-top: 10px;
    }

    @if $in {
        & {
            margin-left: 11px;
            padding-left: 10px;

            border-top-right-radius: 15px;
            border-top-left-radius: 6px;
            border-bottom-right-radius: 15px;

            figure.photo, figure.video {
                margin-left: -10px;
                margin-right: -5px;
            }

            & ~ .inline-keyboard {
	            margin-left: 11px;
	        }

            .box {
                figure.photo, figure.video {
                    margin-left: 0px; //embed
                    max-height: 250px;
                    height: 250px;
                    width: 100%;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            &.transparent {
                padding-left: 0;
            }

        }

        // TAILS
        &.group-s {
        }

        &.group-m {
        }

        &.group-s, &.group-m {
            figure.round {
                margin-left: 0px;

                & ~ .playback {
                    left: 10px;
                }
            }
        }

        &.group-e {
            -webkit-mask-image: url("../../public/static/images/tail-left.svg"),
            url("../../public/static/images/rect-left-6px.svg");
            mask-image: url("../../public/static/images/tail-left.svg"),
            url("../../public/static/images/rect-left-6px.svg");
        }

        &.group-se {
            -webkit-mask-image: url("../../public/static/images/tail-left.svg"), url("../../public/static/images/rect-left.svg");
            mask-image: url("../../public/static/images/tail-left.svg"), url("../../public/static/images/rect-left.svg");
        }

        &.group-e, &.group-se {
            margin-left: 0;

            &:not(.transparent) {
                padding-left: 21px;
            }

            &.transparent {
                padding-left: 10px; //заберіть мене в дурку
            }

            &.no-pad {
                padding-left: 0;
                padding-right: 0;

                .fwd, .username {
                    padding-left: 21px;
                }

                .reply, .text-wrapper {
                    margin-left: 21px;
                }

                figure.photo, figure.video {
                    margin-left: 0px;
                }

                .video-info {
                    margin-left: 15px;
                }
            }
        }
    }

    @if $out {
        & {
            margin-right: 11px;
            padding-left: 10px;
            padding-right: 10px;


            & ~ .inline-keyboard {
	            margin-right: 11px;
	        }

            figure.photo, figure.video {
                margin-left: -10px;
                margin-right: -10px;
            }

            border-top-right-radius: 6px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        // TAILS
        &.group-s {
        }

        &.group-m {
        }

        &.group-s, &.group-m {
            figure.round {
                margin-right: 0px;
            }
        }

        &.group-e {
            -webkit-mask-image: url("../../public/static/images/tail-right.svg"),
            url("../../public/static/images/rect-right-6px.svg");
            mask-image: url("../../public/static/images/tail-right.svg"),
            url("../../public/static/images/rect-right-6px.svg");
        }

        &.group-se {
            -webkit-mask-image: url("../../public/static/images/tail-right.svg"), url("../../public/static/images/rect-right.svg");
            mask-image: url("../../public/static/images/tail-right.svg"), url("../../public/static/images/rect-right.svg");
        }

        &.group-e, &.group-se {
            margin-right: 0;
            padding-right: 21px;

            /*&~.inline-keyboard {
                margin-right: 11px;
            }*/
            &.no-pad {
                padding-right: 0;
                padding-left: 0;

                .reply {
                    margin-left: 10px;
                }

                .text-wrapper {
                    margin-right: 21px;
                }

                .fwd, .username {
                    padding-left: 10px;
                }

		    	figure.photo, figure.video {
		    		margin-left: 0;
		    		margin-right: 0;
			    }

                .video-info {
                    margin-right: 15px;
                }
		    }
        }
    }
}