@mixin tails($in: false, $transparent: false) {
    $out: $in==false;

    & {
        padding-right: 5px;
    }

    &.group-s {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-top: 4px;
        margin-bottom: 2px;
    }

    &.group-m {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    &.group-e {
        margin-top: 2px;
        margin-bottom: 4px;
    }

    &.group-se {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    @if $in {
        & {
            margin-left: 11px;
            padding-left: 10px;

            border-top-right-radius: 15px;
            border-top-left-radius: 6px;
            border-bottom-right-radius: 15px;

            figure.photo, figure.video {
                margin-left: -10px;
                margin-right: -5px;
            }

            & ~ .inline-keyboard {
	            margin-left: 11px;
	        }

            .box {
                figure.photo, figure.video {
                    margin-left: 0px; //embed
                    max-height: 250px;
                    height: 250px;
                    width: 100%;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            &.transparent {
                padding-left: 0;
            }

        }

        // TAILS
        &.group-s {
        }

        &.group-m {
        }

        &.group-s, &.group-m {
            figure.round {
                margin-left: 0px;

                & ~ .playback {
                    left: 10px;
                }
            }
        }

        &.group-e {
            //tail-left, rect-left-6px
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' transform='scale(-1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='11' y='0' width='100%25' height='100%25' rx='10'%3E%3C/rect%3E%3Crect x='11' y='100%25' transform='translate(0, -19)' width='11' height='19'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' transform='scale(-1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='11' y='0' width='100%25' height='100%25' rx='10'%3E%3C/rect%3E%3Crect x='11' y='100%25' transform='translate(0, -19)' width='11' height='19'/%3E%3C/svg%3E");
        }

        &.group-se {
            //tail-left, rect-left
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' transform='scale(-1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect x='11' y='0' width='100%25' height='100%25' rx='12'%3E%3C/rect%3E%3Crect x='11' y='100%25' transform='translate(0, -19)' width='11' height='19'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' transform='scale(-1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect x='11' y='0' width='100%25' height='100%25' rx='12'%3E%3C/rect%3E%3Crect x='11' y='100%25' transform='translate(0, -19)' width='11' height='19'/%3E%3C/svg%3E");
        }

        &.group-e, &.group-se {
            margin-left: 0;

            &:not(.transparent) {
                padding-left: 21px;
            }

            &.transparent {
                padding-left: 10px; //заберіть мене в дурку
            }

            &.no-pad {
                padding-left: 0;
                padding-right: 0;

                .fwd, .username {
                    padding-left: 21px;
                }

                .reply, .text-wrapper {
                    margin-left: 21px;
                }

                figure.photo, figure.video {
                    margin-left: 0px;
                }

                .video-info {
                    margin-left: 15px;
                }
            }
        }
    }

    @if $out {
        & {
            margin-right: 11px;
            padding-left: 10px;
            padding-right: 10px;


            & ~ .inline-keyboard {
	            margin-right: 11px;
	        }

            figure.photo, figure.video {
                margin-left: -10px;
                margin-right: -10px;
            }

            border-top-right-radius: 6px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        // TAILS
        &.group-s {
        }

        &.group-m {
        }

        &.group-s, &.group-m {
            figure.round {
                margin-right: 0px;
            }
        }

        &.group-e {
            //tail-right, rect-right-6px
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' x='100%25' transform='scale(1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect x='-11' y='0' width='100%25' height='100%25' rx='6'%3E%3C/rect%3E%3Crect x='100%25' y='100%25' transform='translate(-22, -19)' width='11' height='19'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' x='100%25' transform='scale(1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect x='-11' y='0' width='100%25' height='100%25' rx='6'%3E%3C/rect%3E%3Crect x='100%25' y='100%25' transform='translate(-22, -19)' width='11' height='19'/%3E%3C/svg%3E");
        }

        &.group-se {
            //tail-right, rect-right
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' x='100%25' transform='scale(1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect x='-11' y='0' width='100%25' height='100%25' rx='12'%3E%3C/rect%3E%3Crect x='100%25' y='100%25' transform='translate(-22, -19)' width='11' height='19'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' x='100%25' transform='scale(1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect x='-11' y='0' width='100%25' height='100%25' rx='12'%3E%3C/rect%3E%3Crect x='100%25' y='100%25' transform='translate(-22, -19)' width='11' height='19'/%3E%3C/svg%3E");
        }

        &.group-e, &.group-se {
            margin-right: 0;
            padding-right: 21px;

            figure.photo, figure.video {
                margin-right: -16px;
            }

            /*&~.inline-keyboard {
                margin-right: 11px;
            }*/
            &.no-pad {
                padding-right: 0;
                padding-left: 0;

                .reply {
                    margin-left: 10px;
                }

                .text-wrapper {
                    margin-right: 21px;
                }

                .fwd, .username {
                    padding-left: 10px;
                }

		    	figure.photo, figure.video {
		    		margin-left: 0;
		    		margin-right: 0;
			    }

                .video-info {
                    margin-right: 15px;
                }
		    }
        }
    }
}