@import "src/sass/partials/vars";

.gif-search {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 0 5px;

    .gif {
        &::before {
            content: "";
            padding-bottom: 100%;
            display: inline-block;
            vertical-align: top;
        }

        position: relative;
        cursor: pointer;

        figure {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;

            video {
                object-fit: cover;
                height: 100% !important;
                width: 100% !important;
            }
        }
    }
}