body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row {
    clear: both;
    content: "";
    display: flex;
    flex: 1 0 auto;
}

.status {
    margin-bottom: 10px;
}

.squareDefault, .squareOld, .squareNew, .squareMerged {
    color: rgb(184, 185, 192);
    border: 1px solid #999;
    float: left;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 68px;
}

.squareOld {
    background: rgb(180, 42, 42);
}

.squareNew {
    background: rgb(245, 66, 66);
}

.squareMerged {
    background: rgb(87, 110, 175);
}

.game {
    touch-action: none;
    display: flex;
    flex-direction: row;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.game-info {
    margin-left: 20px;
}

.game-info, .game, .square {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.game-buttons {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.veryBoringButton {
    width: 150px;
    height: 40px;
    background-color: rgb(161, 161, 161);
    margin-left: 40px;
    border-radius: 5px;
}