@import "src/sass/partials/vars";
@import "src/sass/partials/mixins";

.sidebar-wrapper {
  max-width: 423px;
  @include mobile {
    max-width: 100%;
  }
  pointer-events: none;
  height: 100%;
  width: 100%;

  position: absolute;
  overflow: hidden;

  &.right {
    transition: 150ms ease-in-out margin-right;

    right: 0;
    z-index: 1;
    position: absolute;
    @include mobile {
      position: absolute;
      z-index: 6;
    }


    &.hidden {
      margin-right: -420px;//: translateX(420px);
      @include mobile {
        margin-right: -100%;//: translateX(420px);

      }
    }
  }

}