@import "src/sass/partials/vars";
@import "src/sass/partials/basic";

.sidebar-wrapper {
  max-width: 423px;
  @include mobile {
    max-width: 100%;
  }
  pointer-events: none;
  height: 100%;
  width: 100%;

  position: absolute;
  overflow: hidden;
  transition: width 250ms ease-in-out;

  &.right {
    right: 0;
    z-index: 1;
    position: relative;
    @include mobile {
      position: absolute;
      z-index: 6;
    }
  }

  &.hidden {
    width: 0;
  }
}