@import "src/sass/partials/vars";

.sidebar {
  position: absolute;
  z-index: 2;

  display: flex;
  flex-direction: column;

  box-sizing: content-box;
  overflow: hidden;

  max-width: 422px;
  width: 422px;
  height: 100%;

  $border: 1px $lightgrey solid;
  background-color: white;

  //transition: anim(transform, 250ms), anim(filter, 250ms);

  &.really-hidden {
    display: none;
  }

  // Why am I using keyframe animations here and not transitions?
  // The thing is, keyframe animations are bound to animation frames.
  // Since we have to deal with display: none for hidden bars, we should
  // always be sure that display: none; is disabled before animation starts.
  // That was kinda possible with transitions (for example using timeout or
  // requestAnimationFrame), but that was unreliable af. So here we are.

  &.unhidden {
    animation: unhidden 250ms ease-in-out forwards;
  }

  &.hidden {
    animation: hidden 250ms ease-in-out forwards;

    &:not(.really-hidden) {
      z-index: 3;
    }
  }

  &.fade-in {
    animation: fade-in 250ms ease-in-out forwards;
  }

  &.fade-out {
    animation: fade-out 250ms ease-in-out forwards;
    z-index: 1;
  }

  // For some unknown reason reverse keyframes didn't call onAnimationEnd /shrug
  @keyframes unhidden {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }
  @keyframes hidden {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(100%);
    }
  }
  @keyframes fade-out {
    0% {
      transform: translateX(0);
      filter: none;
    }

    100% {
      transform: translateX(-80px);
      filter: brightness(0.75);
    }
  }
  @keyframes fade-in {
    0% {
      transform: translateX(-80px);
      filter: brightness(0.75);
    }

    100% {
      transform: translateX(0);
      filter: none;
    }
  }

  &.right {
    border-left: $border;
  }

  &.floating-action-button-hover {

    > .floating-action-button {
      transform: translateY(80px);
    }

    &:hover >.floating-action-button {
      transform: translateY(0);
    }
  }

  > .header {
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    align-items: center;

    min-height: 44px;
    padding: 8px 14px;

    background-color: white;

    &.border {
      border-bottom: 1px solid $lightgrey;
    }

    > .title {
      width: 100%;
      font-size: 20px;
      font-weight: 500;
      margin-left: 22px;

      &.search {
        margin-left: 0;

        >.input-search {
          position: relative;
          margin: 0 9px;

          input[type="text"] {
            background-color: $light;
            border: 2px solid transparent;
            height: 44px;
            line-height: 36px;
            border-radius: 22px;
            box-sizing: border-box;
            padding: 0 16px 0 40px;
            transition: anim(all);
          }

          input[type="text"]:focus {
            background-color: rgba($light, 0);
            border: 2px solid $blue;
            & + span.tgico {
              color: $blue;
              opacity: 1;
            }
          }

          .tgico {
            position: absolute;
            left: 0;
            top: 0;
            width: 48px;
            height: 44px;
            text-align: center;
            line-height: 42px;
            font-size: 24px;
            color: $darkgrey;
            opacity: 0.6;
            transition: anim(all);
          }
        }
      }
    }

    > .btn-icon {
      color: $darkgrey;
      font-size: 24px;
      flex-shrink: 0;

      &.blue {
        color: $blue;
      }
    }
  }

  > .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 8px;

    &.scrollable {
      overflow-y: auto;
    }

    > .header {
      align-self: center;
      padding-top: 10px;

      font-weight: bold;
      font-size: 24px;
      text-align: center;
    }

    > .subheader {
      align-self: center;
      padding-top: 5px;
      color: $darkgrey;
      text-align: center;
      margin: 0 auto;

      &.online {
        color: $blue;
      }
    }

    > .hint {
      color: $darkgrey;
      font-weight: 100;
    }

    > .avatar {
      align-self: center;
      --avatar-size: 120px;
    }

    > .section {
      border-bottom: $border;
      border-top: $border;
      padding: 20px 8px 30px;

      &:first-of-type {
        border-top: none;
        padding-top: 0;
      }

      &:last-of-type {
        border-bottom: none;
      }

      + .section {
        border-top: 0;
      }

      //> * {
      //  margin: 0 12px;
      //}

      > .title {
        color: $darkgrey;
        font-weight: 500;
        margin-bottom: 20px;
      }

      // Elements like buttons should always be in <Section>
      > .button {
        display: flex;
        flex-direction: row;

        border-radius: 8px;
        // Old mockups
        padding: 16px;

        // New mockups
        //padding: 8px;
        //margin: 6px 0;

        transition: anim(background-color);

        &.rp {
          cursor: pointer;

          &:hover {
            background-color: $light;
          }
        }

        &.red {
          color: $red;

          > .left .tgico {
            color: red;
          }
        }

        > .left {
          height: 24px;
          //width: 24px;
          display: flex;
          flex-direction: row;
          align-items: center;

          > .tgico {
            font-size: 24px;
            color: $darkgrey;
          }

          > .avatar {
            --avatar-size: 48px;
            
          }

          margin-right: 32px;
        }

        > .middle {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;


          > .text {

          }

          > .description {
            color: $darkgrey;
            font-size: 11pt;

          }
        }

        > .right {

        }
      }
    }
  }

  > .floating-action-button {
    position: absolute;
    bottom: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 54px;
    height: 54px;

    background-color: $blue;
    box-shadow: 0 2px 3px 0 rgba(16, 35, 47, .15);
    border-radius: 50%;

    transition: anim(transform);

    > .tgico {
      color: white;
      font-size: 1.5em;
    }

    &.hidden {
      transform: translateY(80px);
    }
  }
}