.date-modal {
	padding: 0 20px;
	.header {
		font-size: 20px;
		height: auto !important;
		margin-top: 20px;
		margin-bottom: 25px;
	}

	.footer {
		display: flex;
		justify-content: flex-end;
		margin-top: 30px;
		margin-bottom: 10px;

		.VButton {
			padding: 12px;
		}
	}
}