@keyframes rippleEffect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: scale(1000);
    opacity: 0;
  }
}

@keyframes rippleEffectSmall {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}

@keyframes slide-up-message {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up-dialog {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jump-in {
  0% {
    max-height: 10px;
    transform: translateY(100%);
    opacity: 0.4;
  }
  100% {
    max-height: 1000px;
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-to-arrow {
  0% {
    content: $tgico-next;
  }

  100% {
    content: $tgico-next;
    transform: rotate(180deg);
  }
}

@keyframes loading-text {
  0% {
    content: "";
  }

  33% {
    content: ".";
  }

  66% {
    content: "..";
  }

  100% {
    content: "...";
  }
}

@keyframes roll {
  100% {
    transform: rotate(360deg);
  }
}