@keyframes slide-up-message {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up-dialog {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jump-in {
  0% {
    transform: scaleY(0.1) translateY(100%);
  }
  100% {
    transform: scaleY(1) translateY(0%);
  }
}