.avatar {
  --avatar-size: 54px;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  flex-shrink: 0;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(var(--avatar-size) / 2.5); //somehow, em works bad with small size
  transition: opacity 500ms;

  span {
    position: absolute;
    z-index: 10;
  }

  video {
  	border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .avatar-outer {
    z-index: 11;
    opacity: 0;
    transition: anim(opacity);
    width: var(--avatar-size);
    height: var(--avatar-size);

    .avatar-inner {
      z-index: 11;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &.placeholder-icon {
    font-size: calc(var(--avatar-size) / 1.25)
  }

  &.placeholder-saved {
    background-color: $blue;
  }

  &.placeholder-0 {
    background-color: #cc90e2;
  }

  &.placeholder-1 {
    background-color: #80d066;
  }

  &.placeholder-2 {
    background-color: #ecd074;
  }

  &.placeholder-3 {
    background-color: #6fb1e4;
  }

  &.placeholder-4 {
    background-color: #e57979;
  }

  &.placeholder-5 {
    background-color: #f98bae;
  }

  &.placeholder-6 {
    background-color: #73cdd0;
  }

  &.placeholder-7 {
    background-color: #fba76f;
  }
}