body {
    font-family: Roboto, sans-serif !important;
    background-color: #fff;
    overflow: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.loading-text::after {
    content: "";
    animation: loading-text 1s linear infinite;
}

.loading-text-2::after {
    content: "";
    animation: loading-text-2 1s linear infinite;
}

a {
    text-decoration: none;
}

img[src=""],
img:not([src]) {
    content: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.app {
    display: flex;
    background-color: $lightblue;
    overflow: hidden;
    // Only specific parts should be selectable
    user-select: none;
}

@media (min-width: 1922px) {
    body {
        width: 1920px;
        margin-left: auto;
        margin-right: auto;

        .app {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            position: relative;
        }
    }
}

.rp {
    overflow: hidden;
    position: relative;

    .ripple {
        position: absolute;
        background: $light;
        border-radius: 50%;
        width: 1px;
        height: 1px;
        animation: rippleEffect 1s ease;
        opacity: 0;
    }
}

.rp.rp-white {
    .ripple {
        background: #ffffff;
        animation: rippleEffectLight 1s ease;
    }
}

.rp.rps.rp-white {
    .ripple {
        background: #ffffff;
        animation: rippleEffectLightSmall 1s ease;
    }
}

.rp.rps {
    .ripple {
        width: 1px;
        height: 1px;
        animation: rippleEffectSmall 1s ease;
    }
}

.emoji {
    &:not(.native) {
        height: 1.3em;
        width: 1.3em;
        margin: 0 .05em 0 .1em;
        vertical-align: -0.3em;
        user-select: all;
        cursor: text;
    }

    &.native {
        display: inline-block;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba($darkgrey, .3);
    border: solid 3px transparent;
    border-radius: 5px;
    min-height: 50px;
    height: 50px;
    max-height: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba($darkgrey, .5);
}

body {
    scrollbar-color: rgba($darkgrey, .3) transparent;
    scrollbar-width: thin;
}

.scrollable {
    overflow-y: hidden;

    @media (max-width: 1000px) {
        overflow-y: auto;
    }

    &:hover {
        overflow-y: overlay;
    }

    @supports not(overflow-y: overlay) {
        &:hover {
            overflow-y: auto;
        }
    }
}

.scrollable-x {
    overflow-x: hidden;

    @media (max-width: 1000px) {
        overflow-x: auto;
    }

    &:hover {
        overflow-x: overlay;
    }

    @supports not(overflow-x: overlay) {
        &:hover {
            overflow-x: auto;
        }
    }

    &.hide-scroll {
        &::-webkit-scrollbar-thumb:horizontal {
            background: transparent;
            height: 0;
        }

        &::-webkit-scrollbar:horizontal {
            height: 0;
            background: transparent;
        }
    }
}

@mixin mobile {
    @media (max-width: 991.98px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}