body {
    font-family: Roboto, sans-serif !important;
    background-color: #fff;
    overflow: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.rip {
        filter: grayscale(0.8);

        .avatar::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            clip-path: polygon(100% 50%, 100% 60%, 60% 100%, 50% 100%);
            display: block;
            content: " ";
        }
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}

.loading-text::after {
    content: "";
    animation: loading-text 1s linear infinite;
}

.loading-text-fast::after {
    content: "";
    animation: loading-text 500ms linear infinite;
}

.loading-text-2::after {
    content: "";
    animation: loading-text-2 1s linear infinite;
}

a {
    text-decoration: none;
}

img[src=""],
img:not([src]) {
    content: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

#app, .app {
    display: flex;
    background-color: $lightblue;
    overflow: hidden;
    height: 100%;
    // Only specific parts should be selectable
    user-select: none;
    //-webkit-touch-callout: none;
    //-webkit-user-select: none; // NO NO NO, BREAKS SAFARI ON IOS

    #page-loader {
        align-self: center;
        margin: 0 auto;
    }

    &.rainbow {
        animation: rainbow 3s steps(36) infinite;
    }
}

@media (min-width: 1922px) {
    body {
        width: 1920px;
        margin-left: auto;
        margin-right: auto;

        .app {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            position: relative;
        }
    }
}

.rp {
    overflow: hidden;
    position: relative;

    .ripple {
        position: absolute;
        background: $light;
        border-radius: 50%;
        width: 1px;
        height: 1px;
        animation: rippleEffect 1s ease;
        opacity: 0;
    }
}

.rp.rp-white {
    .ripple {
        background: #ffffff;
        animation: rippleEffectLight 1s ease;
    }
}

.rp.rps.rp-white {
    .ripple {
        background: #ffffff;
        animation: rippleEffectLightSmall 1s ease;
    }
}

.rp.rps {
    .ripple {
        width: 1px;
        height: 1px;
        animation: rippleEffectSmall 1s ease;
    }
}

.emoji {
    &:not(.native) {
        height: 1.3em;
        width: 1.3em;
        margin: 0 .05em 0 .1em;
        vertical-align: -0.3em;
        user-select: all;
        -webkit-user-select: all;
    }

    &.native {
        display: inline-block;
    }
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.no-select {
    user-select: none !important;
    -webkit-user-select: none !important;
    //-webkit-touch-callout: none !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(black, .3);
    border: solid 3px transparent;
    border-radius: 5px;
    min-height: 50px;
    height: 50px;
    max-height: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(black, .5);
}

body {
    scrollbar-color: rgba($darkgrey, .3) transparent;
    scrollbar-width: thin;
}

.scrollable {
    overflow-y: hidden;
    pointer-events: auto;

    @media (max-width: 1000px) {
        overflow-y: auto;
    }

    &:hover {
        overflow-y: overlay;
    }

    @supports not(overflow-y: overlay) {
        &:hover {
            overflow-y: auto;
        }
    }
}

.scrollable-x {
    overflow-x: hidden;
    pointer-events: auto;

    @media (max-width: 1000px) {
        overflow-x: auto;
    }

    &:hover {
        overflow-x: overlay;
    }

    @supports not(overflow-x: overlay) {
        &:hover {
            overflow-x: auto;
        }
    }

    &.hide-scroll {
        &::-webkit-scrollbar-thumb:horizontal {
            background: transparent;
            height: 0;
        }

        &::-webkit-scrollbar:horizontal {
            height: 0;
            background: transparent;
        }
    }
}

@mixin mobile {
    @media only screen and (max-width: 991.98px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}

b, strong {
    font-weight: 500;
}