@import "animation";

#message_list {
    width: 100%;
}

.highlightmessage {
    background-color: rgba($blue, .2);
    border-radius: 10px;
}

.chat-scroll-bottom {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 50px;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(16, 35, 47, .15);
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: bottom 500ms cubic-bezier(0.175, 0.885, 0.32, 1.0);

    @include mobile {
        position: absolute !important;
    }

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $blue;
        transform: translate(-50%, -50%);
    }
}

.chat-wrapper {
    margin-left: 423px;
    display: flex;
    flex-grow: 1;
    transition: anim(width, 250ms);
    overflow: hidden;
    position: relative;
    will-change: transform;
    @include mobile {
        //position: absolute;
        z-index: 5;
        background-color: $lightblue;
        margin-left: 0;
        transform: translateX(100%);
        transition: anim(transform, 250ms), anim(filter, 250ms);

        &.shown {
            transform: translateX(0%);
        }

        &.fade-out {
            transform: translateX(-80px);
            filter: brightness(0.75);
        }
    }

        //&.right-bar-open #chat {
    //    width: calc(100% - 422px);
    //}

    .wallpaper {
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        background-color: var(--chat-bg-color);
        background-image: var(--chat-bg-image);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: anim(filter);

        &.blur {
            filter: blur(5px) brightness(90%);
        }
    }

    #noChat {
        width: 100%;
        height: 100%;
        position: relative;

        .v-spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @include mobile {
            display: none;
        }
    }

    #chat {
        display: flex;
        // padding: 200px;
        width: 100%;
        align-items: center;
        height: var(--vh100);
        overflow: hidden;
        flex-direction: column;
        position: relative;
        transition: anim(width);

        @include mobile {
            &.composer-opened {
                height: calc(var(--vh100) * 0.6);
            }
        }

        #topbar {
            width: 100%;
            background-color: #fff;
            padding: 0 9px;
            box-sizing: border-box;
            user-select: none;
            display: flex;
            align-items: center;
            box-shadow: 0 1px 2px 0 $semiblack;
            z-index: 2;

            &>* {
                margin: 0 2px;
            }

            >.hidden {
                display: none;
            }

            .chat-info {
                flex-grow: 1;
                overflow: hidden;
            }

            .content {
                padding-left: 16px;
            }

            .person {
                padding: 0px;
                margin: 8px;

                &:hover {
                    background-color: transparent;
                }

                .avatar {
                    width: 44px;
                    height: 44px;
                    flex-shrink: 0;
                }

                .bottom {
                    font-size: 14px;
                    line-height: 18px;

                    .info {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;

                        .online {
                            color: $blueonline;
                        }
                    }
                }
            }
        }

        .pin {
            display: flex;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            font-size: 14px;
            background-color: white;
            box-shadow: 0 1px 2px 0 $semiblack;
            z-index: 1;

            &:empty {
                display: none;
            }

            transition: anim(background-color);

            &.active-audio {
                .play {
                    height: 50px;
                    width: 50px;
                    margin: 0 5px;
                    color: $blue;
                    cursor: pointer;
                    position: relative;

                    .tgico {
                        font-size: 20px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 30px;
                    }
                }

                .audio-info {
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    justify-content: center;
                    min-width: 0;

                    .description {
                        color: $darkgrey;
                    }
                }
            }

            .message-info {
                margin: 6px 20px;
                padding: 0 10px;
                border-radius: 2px;
                border-left: 2px solid $blue;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .title {
                    color: $blue;
                    font-weight: 500;
                    margin-bottom: 4px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .description {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &:hover {
                    background-color: $verylightgrey;
                }
            }

            .close {
                width: 20px;
                height: 20px;
                padding: 7px;
                margin-right: 15px;
                border-radius: 50%;
                font-size: 24px;
                color: $darkgrey;
                cursor: pointer;
                position: relative;

                .tgico {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                &:hover {
                    background-color: $verylightgrey;
                }
            }
        }

        #bubbles {
            will-change: transform;
            width: 100%;
            overflow: scroll;

            #bubbles-inner {
                //will-change: transform;
                max-width: $max-chat-width;
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                //flex-shrink: 1;
                padding: 9px;
                min-height: 100%;
                margin: 0 auto;
                box-sizing: border-box;
                overflow: hidden;
            }
        }
    }
}

@include mobile {
    #chat:not(.responsive-selected-chat) {
        display: none;
    }
}

@include desktop {
    .responsive-only-mobile {
        display: none;
    }
}