.chat-input-wrapper {
    max-width: $max-chat-width;
    width: 100%;
    min-height: $chat-input-height;
    flex-shrink: 0;

    .chat-input {
        margin: 5px 5px 20px 5px;
        @include mobile {
            margin: 5px 5px 8px 5px;
        }
        position: relative;

        display: flex;
        align-items: flex-end;

        /*.input-and-keyboard-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            z-index: 1;
            margin-right: 11px;


            .keyboard-markup {
                margin-top: 0;
            }
        }*/

        .input-row {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .input-column {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .input-field-wrapper {
            background: white;
            width: 100%;
            height: auto;
            border-radius: 12px;
            //box-shadow: 0 1px 2px 0 rgba(16, 35, 47, .15);
            border-bottom-right-radius: 0 !important;
            position: relative;
            z-index: 0;
            //tail-input, rect-input
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' x='100%25' transform='scale(1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect transform='translate(-11, 0)' x='0' y='0' width='100%25' height='100%25' rx='12'%3E%3C/rect%3E%3Crect x='100%25' y='100%25' transform='translate(-22, -19)' width='11' height='19'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' x='100%25' transform='scale(1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect transform='translate(-11, 0)' x='0' y='0' width='100%25' height='100%25' rx='12'%3E%3C/rect%3E%3Crect x='100%25' y='100%25' transform='translate(-22, -19)' width='11' height='19'/%3E%3C/svg%3E");

            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: 100% 100%;
            mask-position: 100% 100%;
            padding-right: 11px;

            .media {
                display: flex;
                width: 100%;
                margin-left: 5px;
                align-items: center;
                height: 64px;
                //padding: 11px 16px 0;
                transition: anim(height);
                overflow: hidden;

                &.hidden {
                    height: 0;
                }

                .attachment {
                    width: $attachment-width;
                    height: $attachment-width;
                    margin-right: 5px;
                    position: relative;
                    animation-name: attachment-bottom-appear;
                    animation-duration: 150ms;

                    @keyframes attachment-bottom-appear {
                        from {
                            bottom: -60px
                        }
                        to {
                            bottom: 0;
                        }
                    }

                    .tgico-close {
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        border-radius: 100%;
                        background: $semiblack;
                        color: white;
                        z-index: 1;
                        text-align: center;
                        line-height: 15px;
                        right: -5px;
                        top: -5px;
                        font-size: 12px;
                        cursor: pointer;
                    }

                    &.photo {
                        img {
                            filter: brightness(50%);
                            border-radius: 3px;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .reply {
                display: flex;
                width: 100%;
                height: 47px;
                align-items: center;
                transition: anim(height);
                overflow: hidden;

                &.hidden {
                    height: 0;
                }

                .message {
                    border-left: 2px solid $blue;
                    padding: 0 10px;
                    font-size: 14px;
                    margin-left: 5px;

                    display: flex;
                    flex-direction: row;

                    .image {
                        &.hidden {
                            display: none;
                            margin-right: 0;
                        }

                        border-radius: 3px;
                        width: 38px;
                        height: 38px;
                        object-fit: cover;
                        margin-right: 8px;
                    }

                    .reply-wrapper {

                        display: flex;
                        flex-direction: column;

                        .title {
                            color: $blue;
                            font-weight: 500;
                            margin-bottom: 2px;
                        }

                        .description {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }

                .tgico {
                    flex-shrink: 0;
                    margin-left: 5px;
                    text-align: center;
                    color: $darkgrey;
                    font-size: 22px;
                    cursor: pointer;
                }
            }

            .field {
                display: flex;
                height: auto;
                width: 100%;

                align-items: flex-end;

                .another-wrapper {
                    max-height: 400px;
                    overflow-y: auto;
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    overflow-x: hidden;
                }

                .textarea {
                    border: none;
                    word-break: break-word;
                    resize: none;
                    overflow: hidden;
                    outline: none;
                    align-items: center;
                    padding-top: 18px;
                    padding-bottom: 17px;
                    display: inline-flex;
                    width: 100%;
                    align-self: start;
                    display: inline;

                    &.no-select {
                        user-select: text !important;
                        -webkit-user-select: text !important;
                        -webkit-touch-callout: unset !important;
                    }

                    a {
                        color: $darkblue;
                    }

                    &.monospace-hack sub {
                        vertical-align: sub;
                    }

                    sub {
                        font-size: initial;
                        font-family: monospace;
                        white-space: pre;
                        vertical-align: inherit;
                    }

                    * {
                        word-break: break-word !important;
                    }

                    &.empty::before {
                        content: "Message";
                        display: inline-block;
                        color: $grey;
                        cursor: text;
                    }
                }

                .ico-wrapper {
                    display: flex;
                    align-items: flex-end;
                    position: sticky;
                    top: 0;
                }

                .tgico {
                    position: sticky;
                    bottom: 0;
                    padding: 4px;
                    text-align: center;
                    color: $darkgrey;
                    font-size: 22px;
                    cursor: pointer;

                    &.hidden {
                        // TODO animate
                        display: none;
                    }
                }

                .voice-seconds {
                    &.hidden {
                        // TODO animate
                        display: none;
                    }

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &::after {
                        content: "";
                        background-color: $red;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        display: block;
                        margin-left: 19px;
                        margin-right: 22px;
                    }
                }
            }
        }


        .round-button-wrapper {
            position: relative;
            display: flex;
            flex-direction: row;

            .voice-circle {
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 100%;
                width: 54px;
                height: 54px;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 0;
                transform: scale(1);
                transition: anim(transform);
            }
        }

        .round-button {
            flex-shrink: 0;
            height: $chat-input-height;
            width: $chat-input-height;
            border-radius: 100%;
            box-shadow: 0 2px 3px 0 rgba(16, 35, 47, .15);
            cursor: pointer;
            text-align: center;
            z-index: 1;

            &.send-button {
                background: white;
                position: absolute;
                right: 0;


                .tgico {
                    color: $newgrey;
                    display: block;
                    transition: anim(transform);
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%) scale(1);

                    &.tgico-send {
                        color: $blue;
                    }

                    &.hidden {
                        transform: translateX(-50%) scale(0);
                    }
                }
            }

            &.delete-button {
                background: white;
                transition: anim(all);
                transform: scale(0);

                &:hover {
                    filter: brightness(0.9);
                }

                &.open {
                    margin-right: 64px;
                    transform: scale(1);
                }
            }

            .tgico {
                color: $red;
                line-height: $chat-input-height;
                font-size: 22px;
            }
        }
    }

    .suggestion {
        position: absolute;
        transform: scale(0, 0);
        transition: transform 250ms ease-in-out;
        transform-origin: left bottom;
        overflow: hidden;

        box-shadow: 0 2px 3px 0 rgba(16, 35, 47, .15);

        display: flex;
        background-color: white;
        border-radius: 10px;
        bottom: 50px;
        left: 40px;
        z-index: 899;

        &.visible {
            transform: scale(1, 1);
        }

        &.emoji-suggestion {
            flex-direction: row;
            align-items: center;
            height: 40px;
            max-width: 200px;
            padding: 0 5px;

            .emoji {
                display: block;
                width: 32px;
                height: 32px;
                border-radius: 3px;
                transition: anim(background-color);
                cursor: pointer;
                margin: 2px;

                &:hover {
                    background-color: $lightgrey;
                }
            }
        }
    }
}