.chatlist {
  background-color: #fff;
  border-right: 1px $lightgrey solid;
  max-width: 422px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding-top: 52px;
  height: 100vh;
}

#dialogsWrapper {
  height: 100%;
  overflow-y: hidden;

  &:hover {
    overflow-y: overlay;
  }

  @supports not(overflow-y: overlay) {
    &:hover {
      overflow-y: auto;
    }
  }
}

.list {
  padding: 8px;
  padding-left: 8px;

  * {
    user-select: none;
  }

  &.pinned {
    border-bottom: 1px $lightgrey solid;

    .person {
      .badge:empty {
        display: block;
        background-color: $grey;
        width: 24px;
        height: 24px;
        padding: 0;
        font-size: 24px;

        &:before {
          font-family: "#{$tgico-font-family}" !important;
          content: $tgico-pinnedchat;
        }
      }
    }
  }
}

.person + .person {
  margin-top: 4px;
}

.person.online {
  .avatar:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: $dotgreen;
    position: absolute;
    bottom: 1px;
    right: 1px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: anim(border);
  }
}

.person.group {
  .content.top:before {
    content: $tgico-group;
  }
}

.person {
  border-radius: 10px;
  background-color: #fff;
  padding: 9px;
  transition: anim(background-color);

  display: flex;

  .avatar {

    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3em;
    transition: anim(background-image);


    &.placeholder-0 {
      background-color: #cc90e2;
    }

    &.placeholder-1 {
      background-color: #80d066;
    }

    &.placeholder-2 {
      background-color: #ecd074;
    }

    &.placeholder-3 {
      background-color: #6fb1e4;
    }

    &.placeholder-4 {
      background-color: #e57979;
    }

    &.placeholder-5 {
      background-color: #f98bae;
    }

    &.placeholder-6 {
      background-color: #73cdd0;
    }

    &.placeholder-7 {
      background-color: #fba76f;
    }
  }


  .content {
    flex-grow: 1;
    padding-left: 9px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .top,
    .bottom,
    .status {
      line-height: 24px;
    }

    .bottom {
      position: relative;
      display: flex;
    }
  }

  .title {
    font-size: $text-size;
    font-weight: 500;
    color: $text;
    flex-grow: 1;
  }

  .badge:empty {
    display: none;
  }

  .badge {
    /*position: absolute;
    top: 3px;*/
    flex-shrink: 0;
    right: 0;
    background-color: $green;
    min-width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 12px;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
  }

  &.unread .badge {
    font-weight: 700;
    padding: 0 8px;
  }

  .status {
    color: $darkgreen;
    display: none;
    font-size: 19px;
    box-sizing: border-box;
  }

  .bottom {
    color: $darkgrey;
  }

  .message {
    font-size: $text-size;
    font-weight: 400;
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;

    .sender {
      color: black;
    }
  }

  .time {
    font-size: $time-size;
    color: $darkgrey;
    padding: 0 3px 0 1px;
  }

  .top,
  .bottom {
    display: flex;
  }

  &.sent,
  &.read {
    .status {
      display: block;
    }
  }

  &.sent {
    .status:before {
      content: $tgico-check-sent;
    }
  }

  &.read {
    .status:before {
      content: $tgico-check-read;
    }
  }

  &.muted {
    .badge {
      background-color: $grey;
    }
  }

  &:hover {
    background-color: $light;
    cursor: pointer;
  }

  // &.online:hover {
  // 	.avatar:before {
  // 		border: 2px solid mix(opacify($light,1) );
  // 	}
  // }
}

.connecting {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $connecting-color;
  margin: 8px;
  border-radius: 8px;
  height: 60px;
  display: none;

  progress {
    margin-left: 16px;
    color: #2E3939;
  }

  span {
    font-weight: 400;
    margin-left: 16px;
    line-height: 60px;
  }
}