.context-menu-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999;

  &.hidden {
    //display: none;
    pointer-events: none;

    .context-menu {
      transform: scale(0, 0);
    }
  }

  .context-menu {
    min-width: 220px;
    background: white;
    color: black;
    position: absolute;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .10);
    display: flex;
    flex-direction: column;
    transition: anim(transform);
    transform: scale(1, 1);

    &.left-top {
      transform-origin: left top;
    }

    &.left-bottom {
      transform-origin: left bottom;
    }

    &.right-top {
      transform-origin: right top;
    }

    &.right-bottom {
      transform-origin: right bottom;
    }

    .element {
      height: 64px;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: anim(background-color);
      cursor: pointer;

      &.red {
        color: $red;

        .tgico {
          color: $red;
        }
      }

      .tgico {
        color: $darkgrey;
        min-width: 56px;
        width: 56px;
        height: 56px;
        font-size: 26px;
        line-height: 56px;
        text-align: center;
      }

      span {
        margin-left: 16px;
        margin-right: 16px;
        width: 100%;
      }

      .badge {
        background-color: $grey;
        min-width: 24px;
        height: 24px;
        text-align: center;
        border-radius: 12px;
        font-size: 14px;
        color: #fff;
        line-height: 24px;
        font-weight: 500;
        margin-right: 16px;
      }

      .after {
        margin-right: 16px;
        margin-left: 20px;
        color: $grey;
      }

      &:hover {
        background-color: $light;
      }
    }

  }
}