.tab-selector {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    border-bottom: 1px solid $grey;
    background-color: white;

    .item {
        padding: 12px;
        position: relative;
        height: 100%;
        font-weight: 500;
        color: $darkgrey;
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;

        span {
            position: relative;
            padding: 0 2px 0 2px;
        }
    }

    .item.selected {
        color: $blue;

        span {
            &::after {
                content: "";
                position: absolute;
                border-bottom: 3px $blue solid;
                bottom: -12px;
                left: 0;
                width: 100%;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }
        }
    }
}

.card {
    display: flex;

    .card-icon {
        overflow: hidden;
        flex-shrink: 0;
    }

    .card-info {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-size: 14px;

        .title {
            font-weight: bold;
        }

        .description {
            padding-top: 5px;
            color: $darkgrey;
        }
    }

    .time {
        align-self: flex-end;
        margin-left: 0;
    }

    .contact-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .svg-wrapper {
        position: relative;
        height: 54px;
        width: 54px;

        .extension {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 18px;
        }
    }
}

.contact-card {
    display: flex;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background-color: $light;
    }

    .photo-container {
        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
    }

    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        margin-left: 10px;

        white-space: nowrap;
        overflow: hidden;

        .top {
            display: flex;

            .name {
                flex-grow: 1;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .time {
                font-size: 12px;
                color: $darkgrey;
                padding: 0 3px 0 1px;
            }
        }

        .status {
            text-overflow: ellipsis;
            overflow: hidden;
            color: $darkgrey;
            font-size: 14px;
        }
    }
}
