$tgico-font-family: "tgico" !default;
$tgico-font-path: "../../public/static/fonts" !default;

$tgico-check: "\e900";
$tgico-checks: "\e901";
$tgico-activesessions: "\e902";
$tgico-add: "\e903";
$tgico-addmember_filled: "\e904";
$tgico-adduser: "\e905";
$tgico-admin: "\e906";
$tgico-animals: "\e907";
$tgico-archive: "\e908";
$tgico-attach: "\e909";
$tgico-avatar_archivedchats: "\e90a";
$tgico-avatar_deletedaccount: "\e90b";
$tgico-avatar_savedmessages: "\e90c";
$tgico-back: "\e90d";
$tgico-bots: "\e90e";
$tgico-calendar: "\e90f";
$tgico-camera: "\e910";
$tgico-cameraadd: "\e911";
$tgico-car: "\e912";
$tgico-channel: "\e913";
$tgico-channelviews: "\e914";
$tgico-chatsplaceholder: "\e915";
$tgico-check1: "\e916";
$tgico-checkbox: "\e917";
$tgico-checkboxblock: "\e918";
$tgico-checkboxempty: "\e919";
$tgico-checkboxon: "\e91a";
$tgico-close: "\e91b";
$tgico-clouddownload: "\e91c";
$tgico-colorize: "\e91d";
$tgico-copy: "\e91e";
$tgico-data: "\e91f";
$tgico-delete_filled: "\e920";
$tgico-delete: "\e921";
$tgico-deleteleft: "\e922";
$tgico-deleteuser: "\e923";
$tgico-document: "\e924";
$tgico-down: "\e925";
$tgico-download: "\e926";
$tgico-eats: "\e927";
$tgico-edit: "\e928";
$tgico-eye1: "\e929";
$tgico-eye2: "\e92a";
$tgico-favourites: "\e92b";
$tgico-flag: "\e92c";
$tgico-folder: "\e92d";
$tgico-forward: "\e92e";
$tgico-full_screen: "\e92f";
$tgico-gifs: "\e930";
$tgico-group: "\e931";
$tgico-help: "\e932";
$tgico-info: "\e933";
$tgico-info2: "\e934";
$tgico-keyboard: "\e935";
$tgico-lamp: "\e936";
$tgico-language: "\e937";
$tgico-largepause: "\e938";
$tgico-largeplay: "\e939";
$tgico-livelocation: "\e93a";
$tgico-location: "\e93b";
$tgico-lock: "\e93c";
$tgico-loginlogodesktop: "\e93d";
$tgico-loginlogomobile: "\e93e";
$tgico-logout: "\e93f";
$tgico-menu: "\e940";
$tgico-message: "\e941";
$tgico-microphone: "\e942";
$tgico-microphone2: "\e943";
$tgico-minus: "\e944";
$tgico-more: "\e945";
$tgico-mute: "\e946";
$tgico-muted: "\e947";
$tgico-newchannel: "\e948";
$tgico-newchat_filled: "\e949";
$tgico-newgroup: "\e94a";
$tgico-newprivate: "\e94b";
$tgico-next: "\e94c";
$tgico-noncontacts: "\e94d";
$tgico-nosound: "\e94e";
$tgico-pause: "\e94f";
$tgico-permissions: "\e950";
$tgico-phone: "\e951";
$tgico-photo: "\e952";
$tgico-pin: "\e953";
$tgico-pinnedchat: "\e954";
$tgico-play: "\e955";
$tgico-poll: "\e956";
$tgico-radiooff: "\e957";
$tgico-radioon: "\e958";
$tgico-readchats: "\e959";
$tgico-recent: "\e95a";
$tgico-reply: "\e95b";
$tgico-revote: "\e95c";
$tgico-savedmessages: "\e95d";
$tgico-search: "\e95e";
$tgico-send: "\e95f";
$tgico-send2: "\e960";
$tgico-sending: "\e961";
$tgico-sendingerror: "\e962";
$tgico-settings: "\e963";
$tgico-smallscreen: "\e964";
$tgico-smile: "\e965";
$tgico-sport: "\e966";
$tgico-stickers: "\e967";
$tgico-stop: "\e968";
$tgico-tip: "\e969";
$tgico-unarchive: "\e96a";
$tgico-unlock: "\e96b";
$tgico-unmute: "\e96c";
$tgico-unpin: "\e96d";
$tgico-unread: "\e96e";
$tgico-up: "\e96f";
$tgico-user: "\e970";
$tgico-username: "\e971";

