$tgico-font-family: "tgico" !default;
$tgico-font-path: "../../public/static/fonts" !default;

$tgico-check-sent: "\e900";
$tgico-check-read: "\e901";
$tgico-activesessions: "\e902";
$tgico-add: "\e903";
$tgico-addmember: "\e904";
$tgico-adduser: "\e905";
$tgico-admin: "\e906";
$tgico-animals: "\e907";
$tgico-archive: "\e908";
$tgico-attach: "\e909";
$tgico-avatar_archivedchats: "\e90a";
$tgico-avatar_deletedaccount: "\e90b";
$tgico-avatar_savedmessages: "\e90c";
$tgico-back: "\e90d";
$tgico-camera: "\e90e";
$tgico-cameraadd: "\e90f";
$tgico-car: "\e910";
$tgico-channel: "\e911";
$tgico-channelviews: "\e912";
$tgico-chatsplaceholder: "\e913";
$tgico-check: "\e914";
$tgico-checkbox: "\e915";
$tgico-checkboxblock: "\e916";
$tgico-checkboxempty: "\e917";
$tgico-checkboxon: "\e918";
$tgico-close: "\e919";
$tgico-copy: "\e91a";
$tgico-data: "\e91b";
$tgico-delete_filled: "\e91c";
$tgico-delete: "\e91d";
$tgico-deleteuser: "\e91e";
$tgico-document: "\e91f";
$tgico-down: "\e920";
$tgico-download: "\e921";
$tgico-eats: "\e922";
$tgico-edit: "\e923";
$tgico-eye1: "\e924";
$tgico-eye2: "\e925";
$tgico-flag: "\e926";
$tgico-forward: "\e927";
$tgico-fullscreen: "\e928";
$tgico-group: "\e929";
$tgico-help: "\e92a";
$tgico-info: "\e92b";
$tgico-lamp: "\e92c";
$tgico-language: "\e92d";
$tgico-largepause: "\e92e";
$tgico-largeplay: "\e92f";
$tgico-location: "\e930";
$tgico-lock: "\e931";
$tgico-logout: "\e932";
$tgico-menu: "\e933";
$tgico-message: "\e934";
$tgico-microphone: "\e935";
$tgico-more: "\e936";
$tgico-mute: "\e937";
$tgico-newchannel: "\e938";
$tgico-newchat_filled: "\e939";
$tgico-newgroup: "\e93a";
$tgico-newprivate: "\e93b";
$tgico-next: "\e93c";
$tgico-pause: "\e93d";
$tgico-permissions: "\e93e";
$tgico-phone: "\e93f";
$tgico-photo: "\e940";
$tgico-pin: "\e941";
$tgico-pinnedchat: "\e942";
$tgico-play: "\e943";
$tgico-radiooff: "\e944";
$tgico-radioon: "\e945";
$tgico-recent: "\e946";
$tgico-reply: "\e947";
$tgico-savedmessages: "\e948";
$tgico-search: "\e949";
$tgico-send: "\e94a";
$tgico-send2: "\e94b";
$tgico-sending: "\e94c";
$tgico-sendingerror: "\e94d";
$tgico-settings: "\e94e";
$tgico-smallscreen: "\e94f";
$tgico-smile: "\e950";
$tgico-sport: "\e951";
$tgico-stop: "\e952";
$tgico-unarchive: "\e953";
$tgico-unlock: "\e954";
$tgico-unmute: "\e955";
$tgico-unpin: "\e956";
$tgico-unreadg: "\e957";
$tgico-up: "\e958";
$tgico-user: "\e959";
$tgico-username: "\e95a";