.dialog-info {
    height: 100vh;
    overflow: hidden;

    &:hover {
        overflow-y: overlay;
    }

    >.header {
        padding: 8px 14px;
        display: flex;
        align-items: center;

        .title {
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            margin-left: 22px;
        }

        .tgico {
        	color: $darkgrey;
        	font-size: 24px;
        	flex-shrink: 0;
        }
    }

    .content {
        .photo-container {
            height: 120px;
            width: 100%;
            position: relative;

            .photo {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                border-radius: 50%;
                max-width: 120px;
            }
        }

        .description {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;

            .name {
                font-size: 24px;
                font-weight: bold;
            }

            .status {
                margin-top: 10px;
                color: $blue;
                font-size: 14px;

                &.offline {
                    color: $darkgrey;
                }
            }
        }

        .details {
            align-items: center;
            margin: 10px 0 20px 0;
            display: flex;

            &.hidden {
                display: none;
            }

            .icon {
                margin-left: 25px;
                margin-right: 30px;
                height: 22px;
                font-size: 24px;
                color: $darkgrey;
            }

            .notifications-checkbox {
                padding-left: 28px;
                margin-right: 50px;
            }

            .line {
                display: flex;
                flex-direction: column;
                padding-top: 5px;

                .text {
                    margin-top: 14px;
                    font-size: 14px;
                }

                .label {
                    color: $darkgrey;
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }

        .materials {
            width: 100%;
            margin-top: 60px;

            .header {
                width: 100%;
                height: 24px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                border-bottom: 1px $grey solid;
            }

            .item {
            	height: 100%;
            	font-weight: bold;
            	color: $darkgrey;
            }

            .item.selected {
                border-bottom: 3px $blue solid;
                color: $blue;
            }
        }
    }
}