$input-height: 54px;

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="password"] {
    caret-color: $blue;
    background-color: transparent;
    outline: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #000;
    box-sizing: border-box;
    width: 100%;

    &::placeholder {
        color: $darkgrey;
        opacity: 0.8;
    }
}

.btn-flat {
    font-family: "Roboto", sans-serif;
    background: transparent;
    border: 0;
    color: $blue;
    text-transform: uppercase;
    font-weight: 500;
    margin: 12px;
    padding: 0;
    margin-left: 0;
    outline: none;
    font-size: 15px;

    &.red {
        color: $red;
    }
}

.input-field {
    position: relative;
    width: 360px;
    height: $input-height;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 12px;

    label {
        position: absolute;
        top: 50%;
        left: 11px;
        transform: translateY(-50%);
        cursor: text;
        user-select: none;
        transition: 100ms ease-in-out all;
        font-size: 16px;
        color: $grey;
        padding: 5px;
        border-radius: 1em;
        pointer-events: none;
    }

    .text {
        height: 54px;
    }

    input {
        caret-color: $blue;
        background-color: transparent;
        outline: 0;
        border: 0;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #000;
        box-sizing: border-box;
        width: 100%;

        &::placeholder {
            color: $darkgrey;
            opacity: 0.8;
        }
    }

    input {
        height: 100%;
        padding: 0 15px;
        border: 1px solid $lightgrey;
        transition: 100ms ease-in-out border-color;
        border-radius: 10px;

        &:hover {
            //border-color: #aaa;
            border-width: 2px;
        }

        &::placeholder {
            color: transparent;
        }

        &.invalid {
            border-color: $red;
        }

        &:focus {
            border-width: 2px;
            border-color: $blue;
        }

        &.invalid:focus {
            border-width: 2px;
            border-color: $red;
        }

        &:focus:not(:placeholder-shown) + label {
            color: $blue;
        }

        &.invalid:focus:not(:placeholder-shown) + label {
            color: $red;
        }

        &:not(:focus):not(:placeholder-shown) + label {
            color: $darkgrey;
        }

        &.invalid:not(:focus):not(:placeholder-shown) + label {
            color: $red;
        }

        &:not(:placeholder-shown) + label {
            background-color: #fff;
            top: 0;
            font-size: 12px;
            font-weight: 500;
        }
    }
}

.checkbox-input {
    --size: 16px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    // dunno why do we need this here - @undrfined
    //padding-top: 3px;
    //
    //margin-top: 12px;
    //margin-bottom: 12px;

    input {
        display: none;
        cursor: default;

        &:checked ~ .checkmark {
            background-color: $blue;
            color: white;
            border: 1px solid $blue;
        }

        &:checked ~ .checkmark:after {
            display: block;
        }
    }

    .checkmark {
        height: var(--size);
        width: var(--size);
        border: 1px solid $lightgrey;
        border-radius: 20%;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;

        font-size: var(--size);
        color: transparent;
        //transition: anim(all);

        &:hover {
            background-color: $light;
        }
    }

    .checkbox-label {
        margin-left: 50px;
    }
}

.slider-input {
    > .label {
        display: flex;
        justify-content: space-between;

        .text {
        }

        .value {
            color: $darkgrey;
        }
    }

    > input {
        --slider-color: #E6ECF0;
        --slider-color-fill: #50a2e9;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background: var(--slider-color);
        outline: none;

        &::-webkit-slider-thumb { // ::-moz-range-thumb
            -webkit-appearance: none;
            appearance: none;
            width: 12px;
            height: 12px;
            border-radius: 12px;
            background: $blue;
            cursor: pointer;
        }

    }


}

.radio-input {
    label {
        cursor: pointer;
    }

    input[type=radio] {
        z-index: -1;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            z-index: 1;

            background-color: white;
            border: 2px solid $darkgrey;
            transition: anim(border-color)
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            z-index: 2;

            transition: anim(background-color);
        }

        &:checked {
            &:before {
                border-color: $blue;
            }

            &:after {
                background-color: $blue;
            }
        }
    }

    .radio-label {
        margin-left: 5px;
        cursor: text;
    }
}

.password-input.peekable {
    position: relative;

    input {
        font: large Verdana, sans-serif;
        letter-spacing: 1px;
    }

    &:not(.peekable) .btn-icon {
        display: none;
    }

    .btn-icon {
        position: absolute;
        font-size: 28px;
        right: 10px;
        top: 10%;

        &:before {
            content: $tgico-eye1;
        }

        &.peek:before {
            content: $tgico-eye2;
        }
    }
}

.dropdown-container {
    position: relative;

    .dropdown {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
            font-size: 30px;
            position: absolute;
            right: 10px;

            cursor: pointer;
        }

    }

    .dropdown-list {
        /*display: flex;
        flex-direction: column;*/

        position: absolute;
        width: 100%;
        top: $input-height;

        background-color: white;
        border-radius: 8px;
        z-index: 42;
        border: 2px solid $verylightgrey;
        box-shadow: 0 0 20px #ddd;

        overflow-y: overlay;
        margin-top: 8px;
        max-height: 30vh;

        @supports not(overflow-y: overlay) {
            overflow-y: auto;
        }

        &.hidden {
            display: none;
        }

        .dropdown-item {
            cursor: pointer;
            min-height: 20px;

            &.hidden {
                display: none !important;
            }

            &:hover {
                background-color: $verylightgrey;
            }
        }
    }
}