.thumbnail {
    > img {
        filter: blur(10px);
        transform: scale(1.2);
    }
}

.thumbnail3px {
    > img {
        filter: blur(3px) brightness(50%);
        transform: scale(1.2);
    }
}

figure.photo, figure.video, figure.round-video {
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &.round-video {
        border-radius: 100%;

        video {
            width: 100%;
        }
    }

    > img, > video {
        max-width: 100%;
        object-fit: contain;
    }
}