#bubbles {
    height: 100%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) calc(100% - 16px), rgba(0,0,0,0));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) calc(100% - 16px), rgba(0,0,0,0));

    .service {
        justify-content: center;

        &.date {
            z-index: 100;
            top: 10px;
            //position: sticky; //TODO fix stacking
            transition: anim(opacity);
            opacity: 1;

            &.hidden {
                opacity: 0;
            }
        }

        .service-msg {
            color: #fff;
            background-color: $semiblack;
            font-weight: 500;
            padding: 0 8px;
            line-height: 24px;
            font-size: 15px;
            border-radius: 12px;
            user-select: none;
        }
    }

    .bubble-outer {
        display: grid;
        grid-template-areas:
                "avatar bubble"
                "_ keyboard";
        filter: drop-shadow(0 1px 2px rgba(16, 35, 47, 0.15));




        .bubble {
            grid-area: bubble;
            max-width: 480px;
            border-radius: 12px;
            //box-shadow: 0 1px 2px 0 rgba(16, 35, 47, 0.15);
            position: relative;
            z-index: 0;
            display: inline-table;
            overflow: hidden; // ЖЕРЕ ХВОСТИ В ПОВІДОМЛЕНЬ
            // я тимчасово зламаю хвостики бо перероблюю цсс, вже маю трохи ідею як зробити свгшкою то всьо
            //                                                                          - @undrfined

            //Коли вже svg?
            //                                                                          - @prettydude

            // https://youtu.be/ciL7OKWSu10
            // Right behind you...
            //                                                                          - @undrfined

            // let total_wasted_hours = 16

            &.no-mask {
                -webkit-mask-image: none;
                mask-image: none;
            }

            &.in {
                -webkit-mask-image: url("../../public/static/images/tail-left.svg"), url("../../public/static/images/rect-left.svg");
                mask-image: url("../../public/static/images/tail-left.svg"), url("../../public/static/images/rect-left.svg");
                padding-left: 10px;

                -webkit-mask-position: 0% 100%;
                mask-position: 0% 100%;
                //-webkit-mask-composite: xor, source-over;
            }

            &.out {
                -webkit-mask-image: url("../../public/static/images/tail-right.svg"), url("../../public/static/images/rect-right.svg");
                mask-image: url("../../public/static/images/tail-right.svg"), url("../../public/static/images/rect-right.svg");
                padding-right: 10px;

                -webkit-mask-position: 100% 100%;
                mask-position: 100% 100%;
                //-webkit-mask-composite: xor, source-over;
            }

            &.transparent {
                border-radius: 12px;
                -webkit-mask-image: none;
                mask-image: none;
                &.in {
                    padding-left: 0;
                    margin-left: 10px;

                }

                &.out {
                    padding-right: 0;
                    margin-right: 10px;
                }
            }
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

            &.no-pad {
                padding-left: 0;
                padding-right: 0;
            }



            .sticker {
                width: 250px;
                max-width: 512px;
                height: auto;
                max-height: 512px;
                cursor: pointer;

                &.loading {}

                &.emoji {
                    cursor: default;
                }
            }

            .instant-view-button {
                height: 32px;
                margin-top: 8px;
                border-radius: 8px;
                border-width: 2px;
                border-style: solid;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    cursor: pointer;
                }

                transition: anim(background-color);
            }

            .box {
                font-size: 14px;
                margin: 5px;
                padding: 5px;
                margin-bottom: -5px;
                border-radius: 4px;
                transition: anim(background-color);
                user-select: none;

                &:hover {
                    cursor: pointer;
                }

                &.web {
                    display: block;
                    margin: 0;
                    padding: 5px 0;

                    &:link {
                        color: black;
                    }

                    &:visited {
                        color: black;
                    }

                    &:hover {
                        color: black;
                        text-decoration: none;
                    }

                    &:active {
                        color: black;
                    }

                    .quote {
                        // box-sizing: border-box;
                    }

                    .preview {
                        max-height: 300px;
                        width: auto;
                        max-width: 100%;
                        border-radius: 4px;
                        background-size: cover;
                        background-position: center;
                        margin-bottom: 6px;
                    }

                    .title {
                        line-height: 1.4;
                        font-weight: 500;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .text {
                        line-height: 1.2;
                        overflow: hidden;
                        position: relative;
                        max-height: 6.9em;
                        text-align: justify;
                        margin-right: -1em;
                        padding-right: 1em;
                    }
                }

                .quote {
                    padding-left: 8px;
                }

                .name {
                    font-weight: 500;
                    margin-top: 5px;
                    &:first-child {
                        margin-top: 0px;
                    }
                }
            }

            .venue {
                padding: 10px;
                font-size: 14px;

                .title {
                    font-weight: bold;
                }

                .address {
                    color: $darkgrey;
                }
            }

            .map {
                position: relative;
                cursor: pointer;

                &.media-wrapper {
                    max-width: 300px;
                    max-height: 300px;
                }

                .pin-point {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -80%);
                    font-size: 60px;
                }
            }

            .game {
                .title {
                    font-weight: bold;
                }

                .info {
                    margin: 5px 0;
                }

                .game-image {
                    max-width: 100%;
                }
            }

            .poll {
                display: flex;
                flex-direction: column;
                min-width: 300px;

                .question {
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                .poll-type {
                    color: $darkgrey;
                }

                &.voted {
                    .answer {
                        cursor: default;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }

                .answer {
                    width: 100%;
                    display: flex;
                    height: 40px;
                    cursor: pointer;

                    &:hover {
                        background-color: $light;
                    }

                    &.wrong {
                        .options-wrapper>.progress-wrapper>.progress {
                            background-color: $red;
                        }

                        .result-wrapper>.voted:not(:empty) {
                            background-color: $red;
                        }
                    }

                    .result-wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;
                        width: 40px;
                        margin-right: 5px;

                        .checkbox-input {
                            margin-right: 30px;
                            margin-bottom: 20px;
                        }

                        .percent {
                            font-weight: bold;
                        }

                        .voted {
                            height: 15px;
                            width: 15px;
                            color: white;
                            border-radius: 50%;

                            &:not(:empty) {
                                background-color: $green;
                            }

                            .tgico.tgico-check {
                                line-height: 15px;
                            }
                        }
                    }

                    .options-wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        flex-grow: 1;
                        .answer-text {
                            line-height: 1.5em;
                        }

                        .progress-wrapper {
                            height: 10px;
                            width: 100%;
                            padding-top: 5px;

                            .progress {
                                min-width: 5px;
                                height: 5px;
                                border-radius: 5px;
                                background-color: $green;
                                transition: 1s ease-in-out width;
                            }
                        }
                    }
                }

                .action-button {
                    width: 100%;
                    text-align: center;
                    height: 30px;
                    line-height: 30px;

                    color: $blue;
                    font-weight: bold;
                    cursor: pointer;

                    transition: anim(color) anim(background-color);

                    &.disabled {
                        cursor: default;
                        color: $grey;
                    }

                    &:not(.disabled):hover {
                        background-color: $light;
                    }
                }

                .stats {
                    color: $darkgrey;
                }
            }

            .audio {
                display: flex;
                width: 100%;
                //height: 60px;
                flex-direction: row;
                align-items: center;
                position: relative;

                .play {
                    color: white;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    cursor: pointer;
                    background-size: cover;

                    &:before {
                        font-size: 2em;
                    }

                    &.tgico-play:before {
                        margin-left: 5px;
                    }

                    &.has-background {
                        background-position: center;
                        background-size: cover;
                    }
                }

                .progress-circular {
                    display: none;

                    &.visible {
                        display: block;
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        color: white;
                    }
                }

                .audio-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 10px;
                    height: 100%;
                    flex-grow: 1;
                    min-width: 200px;

                    .controls {
                        height: 100%;
                        display: flex;
                        flex-direction: column;

                        &>* {
                            margin: 1px 0; //small margin between children
                        }

                        .audio-name {
                            font-weight: bold;
                            text-overflow: ellipsis;
                            margin-top: 10px;
                        }

                        .audio-artist {
                            font-size: 14px;

                            &.hidden {
                                display: none;
                            }
                        }

                        .progress-wrapper {
                            position: relative;
                            height: 15px;

                            &.hidden {
                                display: none;
                            }

                            .progress-line {
                                width: 100%;
                                height: 3px;
                                margin: 5px 0;
                                border-radius: 1.5px;
                            }

                            .listened-wrapper {
                                display: flex;
                                width: 100%;
                                height: 13px;
                                position: absolute;
                                top: 0;
                                align-items: center;
                                cursor: pointer;

                                .listened {
                                    width: 1%;
                                    height: 3px;
                                    border-radius: 1.5px;
                                    transition: width 0.25s linear;
                                }

                                .control-ball {
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 5px;
                                    cursor: pointer;

                                    margin-left: -5px;

                                }
                            }
                        }

                        svg {
                            height: 30px;
                            cursor: pointer;

                            rect {
                                transition: width 0.25s linear;
                            }
                        }

                        .timer {
                            &.short .played-wrapper {
                                display: none;
                            }

                            font-size: 14px;
                        }
                    }

                    .inside {
                        margin-left: 15px;
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        .bars {
                            height: 27px;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: flex-end;

                            .bar {
                                width: 2px;
                                height: 100%;
                                margin-right: 2px;
                                background-color: $blue;
                            }
                        }
                    }
                }
            }

            .username,
            .fwd {
                color: $blueonline;
                font-weight: 500;
                font-size: 14px;
                padding: 3px 0;
            }

            .message {
                line-height: 1.2;
                word-wrap: break-word;
                padding: 5px 9px;

                .text-wrapper {
                    word-break: break-word;
                    user-select: text;
                }

                figure {
                    &.round-video {
                        width: 240px;
                        height: 240px;
                    }

                    &.photo,
                    &.video {
                        //min-width: 100px;
                        //min-height: 100px;
                        max-height: 512px;

                        ~.time.bg {
                            right: 15px;
                            bottom: 5px;
                        }

                        img,
                        video {
                            max-height: 512px;
                        }
                    }
                }

                .grouped ~ .time.bg {
                    right: 15px;
                    bottom: 5px;
                }

                .media-wrapper {
                    position: relative;
                    width: 100%;
                    min-width: 100px;
                    min-height: 100px;
                    max-height: 512px; //seems like TDesktop limit 400px

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    background-color: black;

                    &:not(:only-child) {
                        border-bottom-right-radius: 0 !important;
                        border-bottom-left-radius: 0 !important;
                    }

                    .progress {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        .pause-button {
                            background: $semiblack;
                            width: 64px;
                            height: 64px;
                            line-height: 62px;
                            position: absolute;
                            border-radius: 100%;
                            text-align: center;
                            cursor: pointer;


                            .tgico {
                                position: relative;
                                color: white;
                                font-size: 40px;
                            }
                        }

                        progress {
                            position: relative;
                            top: 0;
                            left: 0;
                            pointer-events: none;
                        }
                    }

                    .attachment {
                        max-width: 100%;
                        height: auto;
                        max-height: 512px;
                        background-size: cover;
                        display: block;

                        &.photo {
                            cursor: pointer;
                        }
                    }

                    .attachment-thumb {
                        filter: blur(10px);
                        // needed to fix black edges: https://telegra.ph/file/7aad6eed39a29cf7dd893.jpg
                        // do not remove unless better method found
                        transform: scale(1.1);
                    }
                }

                .text-wrapper.pad {
                    padding: 5px 9px;
                }

                .emoji-sizer {
                    font-size: 1.25em;
                }
            }

            .message.no-pad {
                padding: 0px;

                .fwd {
                    padding-left: 15px;
                }

                .text-wrapper {
                    padding: 5px 9px;
                }
            }

            .grouped {
                border-radius: 0;
                grid-gap: 2px;
            }


            .time {
                float: right;
                display: flex;
                font-size: $time-size;
                user-select: none;
                height: 20px;
                //line-height: 20px;
                margin-top: 5px;
                margin-right: -10px;
                margin-left: 5px;

                .inner {
                    .edited {
                        margin-right: 5px;
                    }
                }

                &.bg {
                    position: absolute;
                    bottom: 10px;
                    right: 15px;
                    line-height: 14px;

                    .inner {
                        color: white;
                        background-color: $semiblack;
                        border-radius: 40px;
                        text-align: center;
                        padding: 4px 6px;
                    }

                    .tgico.status:after {
                        line-height: 12px;
                    }
                }
            }
        }
    }

    .bubble+.bubble {
        margin-top: 5px;
    }

    #bubbles-inner > .in,
    #bubbles-inner > .out {

        .in, .out {
            flex-direction: row;
            align-items: flex-end;
        }


        &.hide-tail + :not(.hide-tail) {
            margin-bottom: 6px !important;
        }
        &:not(.hide-tail) {
            margin-bottom: 8px !important;
            margin-top: 0 !important;

            & + .hide-tail {
                margin-top: 2px !important;
                margin-bottom: 4px !important;
            }
        }

        .bubble {
            .reply {
                .quote {
                    .text {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        max-width: 400px;
                    }
                }
            }
        }
        .bubble.transparent {
            background-color: transparent;
            box-shadow: none;
            border-radius: 0 !important;
            position: relative;
            overflow: visible;
            .fwd,
            .username {
                display: none;
            }
            .reply {
                position: absolute;
                right: 0;
                transform: translateX(125%);
                background-color: white;
                border-radius: 10px;
                padding: 8px;

                .quote {
                    .text {
                        max-width: 250px;
                    }
                }
            }
        }

        a:not(.button) {
            color: $darkblue;

            &:hover {
                text-decoration: underline;
            }
        }

        &.in .bubble-outer {
            .inline-keyboard {
                margin-left: 9px;
            }
        }


        &.out .bubble-outer {
            .inline-keyboard {
                margin-right: 9px;
                margin-left: 0;
            }
        }

        .avatar {
            grid-area: avatar;
            filter: drop-shadow(0 1px 2px rgba(16, 35, 47, 0.15));

            height: 34px;
            width: 34px;
            flex-shrink: 0;
            border-radius: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            color: white;
            font-size: 1em;
            cursor: pointer;

            background-repeat: no-repeat;
            background-size: contain;
            transition: anim(background-image);

            &.placeholder-0 {
                background-color: #cc90e2;
            }

            &.placeholder-1 {
                background-color: #80d066;
            }

            &.placeholder-2 {
                background-color: #ecd074;
            }

            &.placeholder-3 {
                background-color: #6fb1e4;
            }

            &.placeholder-4 {
                background-color: #e57979;
            }

            &.placeholder-5 {
                background-color: #f98bae;
            }

            &.placeholder-6 {
                background-color: #73cdd0;
            }

            &.placeholder-7 {
                background-color: #fba76f;
            }
        }
    }

    .in {
        //align-items: flex-start;

        &.hide-tail .bubble {
            margin-left: 10px;
            -webkit-mask-image: none !important;
            padding-left: 0 !important;
            border-bottom-left-radius: 6px !important;
        }


        .box:hover {
            background-color: $light;
        }

        .quote {
            border-left: 2px $darkblue solid;

            .name {
                color: $darkblue;
            }
        }

        .instant-view-button {
            border-color: $darkblue;
            color: $darkblue;

            &:hover {
                background-color: $light;
            }
        }

        .audio {
            .audio-wrapper {
                .back {
                    fill: #c4c9cc;
                }

                .progress {
                    fill: $blue;
                }

                .controls {

                    .audio-artist,
                    .timer {
                        color: $darkgrey;
                    }

                    .progress-line {
                        background-color: $grey
                    }

                    .control-ball,
                    .listened {
                        background-color: $blue;
                    }
                }
            }

            .play {
                background-color: $blue;
            }
        }

        .time {
            color: rgba($darkgrey, 0.6);

            .views {
                display: flex;

                .tgico-channelviews {
                    font-size: 18px;
                    line-height: 12px;
                }
            }

            .inner {
                padding: 0px 8px;
            }
        }

        .bubble {
            background-color: #ffffff;
            border-radius: 6px 12px 12px 6px;

            .media-wrapper {
                border-radius: 6px 12px 12px 6px;
            }
        }

        .bubble:first-child {
            border-radius: 12px 12px 12px 6px;

            .media-wrapper {
                border-radius: 12px 12px 12px 6px;
            }
        }

        .bubble:last-child {
            border-radius: 6px 12px 12px 0px;

            .media-wrapper {
                border-radius: 6px 12px 12px 0px;
            }
        }

        .bubble:first-child:last-child {
            border-radius: 12px 12px 12px 0px;

            .media-wrapper {
                border-radius: 12px 12px 12px 0px;
            }
        }
    }

    .out {
        align-items: flex-end;
        flex-direction: column;

        &.hide-tail .bubble {
            margin-right: 10px;
            -webkit-mask-image: none !important;
            padding-right: 0 !important;
            border-bottom-right-radius: 6px !important;
        }

        .bubble.transparent {
            .reply {
                left: 0;
                right: unset;
                transform: translateX(-125%);
            }
        }

        .box:hover {
            background-color: rgba($green, 0.12);
        }

        .quote {
            border-left: 2px $darkgreen solid;

            .name {
                color: $darkgreen;
            }
        }

        .instant-view-button {
            border-color: $darkgreen;
            color: $darkgreen;

            &:hover {
                background-color: rgba($green, 0.12);
            }
        }

        .audio {
            .audio-wrapper {
                .back {
                    fill: lighten($darkgreen, 25%);
                }

                .progress {
                    fill: $darkgreen;
                }

                .controls {

                    .audio-artist,
                    .timer {
                        color: $darkgreen;
                    }

                    .progress-line {
                        background-color: lighten($darkgreen, 25%);
                    }

                    .control-ball,
                    .listened {
                        background-color: $darkgreen;
                    }
                }
            }

            .play {
                background-color: $darkgreen;
            }
        }

        .bubble {
            .message.no-pad {
                .fwd {
                    padding-left: 5px;
                }
            }
            .username,
            .fwd {
                color: $darkgreen;
            }

            figure.photo,
            figure.video,
            .grouped {
                ~.time.bg:not(.use-me) {
                    right: 25px;
                }
            }

            .time {
                color: $darkgreen;

                .inner {
                    padding: 0px 5px;
                }
            }

            .time .tgico.status:after {
                font-size: 18px;
                line-height: 12px;
                vertical-align: top;
            }

            .radio-input input[type=radio] {
                &:before {
                    background-color: $lightgreen
                }
            }
        }


        .bubble.sending {
            .time .tgico.status:after {
                content: $tgico-sending;
            }
        }

        .bubble.read {
            .time .tgico.status:after {
                content: $tgico-checks;
            }
        }

        .bubble.sent {
            .time .tgico.status:after {
                content: $tgico-check;
            }
        }

        .bubble {
            background-color: #eeffde;
            border-radius: 12px 6px 6px 12px;

            .media-wrapper {
                border-radius: 12px 6px 6px 12px;
            }
        }

        .bubble:first-child {
            border-radius: 12px 12px 6px 12px;

            .media-wrapper {
                border-radius: 12px 12px 6px 12px;
            }
        }

        .bubble:last-child {
            border-radius: 12px 6px 0px 12px;

            .media-wrapper {
                border-radius: 12px 6px 0px 12px;
            }
        }

        .bubble:first-child:last-child {
            border-radius: 12px 12px 0px 12px;

            .media-wrapper {
                border-radius: 12px 12px 0px 12px;
            }
        }
    }
}