#bubbles {
    .service {
        justify-content: center;

        &.date {
            z-index: 100;
            top: 10px;
            //position: sticky; //TODO fix stacking
            transition: anim(opacity);
            opacity: 1;

            &.hidden {
                opacity: 0;
            }
        }

        .service-msg {
            color: #fff;
            background-color: rgba(#000, 0.22);
            font-weight: 500;
            padding: 0 8px;
            line-height: 24px;
            font-size: 15px;
            border-radius: 12px;
            user-select: none;
        }
    }

    .bubble {
        max-width: 480px;
        border-radius: 12px;
        box-shadow: 0 1px 2px 0 rgba(16, 35, 47, 0.15);
        position: relative;
        z-index: 0;
        //overflow: hidden; ЖЕРЕ ХВОСТИ В ПОВІДОМЛЕНЬ

        .card {
            display: flex;

            .card-icon {}

            .card-info {
                margin-left: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                font-size: 14px;

                .title {
                    font-weight: bold;
                }

                .description {
                    padding-top: 5px;
                    color: $darkgrey;
                }
            }

            .time {
                align-self: flex-end;
                margin-left: 0;
            }

            .contact-image {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            .svg-wrapper {
                position: relative;
                height: 54px;
                width: 54px;

                .extension {
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-size: 18px;
                }
            }
        }

        .sticker {
            width: 250px;
            max-width: 512px;
            height: auto;
            max-height: 512px;
            cursor: pointer;

            &.loading {
            }
        }

        .round-video-wrapper {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;

            video {
                width: 100%;
                height: auto;
            }
        }

        .instant-view-button {
            height: 32px;
            margin-top: 8px;
            border-radius: 8px;
            border-width: 2px;
            border-style: solid;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }

            transition: anim(background-color);
        }

        .box {
            font-size: 14px;
            margin: 5px;
            padding: 5px;
            margin-bottom: -5px;
            border-radius: 4px;
            transition: anim(background-color);
            user-select: none;

            &:hover {
                cursor: pointer;
            }

            &.web {
                display: block;
                margin: 0;
                padding: 5px 0;

                &:link {
                    color: black;
                }

                &:visited {
                    color: black;
                }

                &:hover {
                    color: black;
                    text-decoration: none;
                }

                &:active {
                    color: black;
                }

                .quote {
                    // box-sizing: border-box;
                }

                .preview {
                    max-height: 300px;
                    width: auto;
                    max-width: 100%;
                    border-radius: 4px;
                    background-size: cover;
                    background-position: center;
                    margin-bottom: 6px;
                }

                .title {
                    line-height: 1.4;
                    font-weight: 500;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .text {
                    line-height: 1.2;
                    overflow: hidden;
                    position: relative;
                    max-height: 6.9em;
                    text-align: justify;
                    margin-right: -1em;
                    padding-right: 1em;
                }
            }

            .quote {
                padding-left: 8px;
            }

            .name {
                font-weight: 500;
                padding-bottom: 4px;
            }
        }

        .audio {
            display: flex;
            width: 100%;
            height: 56px;
            flex-direction: row;
            align-items: center;

            .play {
                background-color: $blue;
                color: white;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                cursor: pointer;

                &:before {
                    font-size: 2em;
                }

                &.tgico-play:before {
                    margin-left: 5px;
                }
            }

            .audio-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 10px;
                height: 100%;

                svg {
                    height: 50%;
                    cursor: pointer;

                    rect {
                        transition: width 0.15s linear;
                    }
                }

                .timer {
                    margin-top: 5px;
                    color: grey;
                    font-size: 14px;
                }
            }

            .inside {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                width: 100%;

                .bars {
                    height: 27px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;

                    .bar {
                        width: 2px;
                        height: 100%;
                        margin-right: 2px;
                        background-color: $blue;
                    }
                }

                .time {
                    margin-top: 8px;
                    width: 100%;
                }

                .read {
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    background-color: $blue;
                    border-radius: 100%;
                }
            }
        }

        .username,
        .fwd {
            color: $blueonline;
            font-weight: 500;
            font-size: 14px;
            padding: 9px;
            padding-bottom: 0px;
        }

        .message {
            line-height: 1.2;
            word-wrap: break-word;
            padding: 5px 9px;

            .media-wrapper {
                position: relative;
                width: 100%;
                min-width: 100px;
                min-height: 100px;
                max-height: 512px; //seems like TDesktop limit 400px

                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                background-color: black;

                &:not(:only-child) {
                    border-bottom-right-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                }

                .progress {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .pause-button {
                        background: rgba(0, 0, 0, 0.3);
                        width: 64px;
                        height: 64px;
                        line-height: 62px;
                        position: absolute;
                        border-radius: 100%;
                        text-align: center;
                        cursor: pointer;


                        .tgico {
                            position: relative;
                            color: white;
                            font-size: 40px;
                        }
                    }

                    progress {
                        position: relative;
                        top: 0;
                        left: 0;
                        pointer-events: none;
                    }
                }

                .attachment {
                    max-width: 100%;
                    height: auto;
                    max-height: 512px;
                    background-size: cover;
                    display: block;

                    &.photo {
                        cursor: pointer;
                    }
                }

                .attachment-thumb {
                    filter: blur(10px);
                    // needed to fix black edges: https://telegra.ph/file/7aad6eed39a29cf7dd893.jpg
                    // do not remove unless better method found
                    transform: scale(1.1);
                }
            }

            .text-wrapper.pad {
                padding: 5px 9px;
            }

            .emoji-sizer {
                font-size: 1.25em;
            }
        }

        .message.no-pad {
            padding: 0px;

            .text-wrapper {
                padding: 5px 9px;
            }
        }


        .time {
            float: right;
            display: flex;
            font-size: $time-size;
            user-select: none;
            height: 20px;
            //line-height: 20px;
            margin-top: 5px;
            margin-right: -10px;
            margin-left: 5px;

            .inner {
                .edited {
                    margin-right: 5px;
                }
            }

            &.bg {
                position: absolute;
                bottom: 10px;
                right: 10px;
                line-height: 14px;

                .inner {
                    color: white;
                    background-color: rgba(0, 0, 0, 0.3);
                    border-radius: 40px;
                    text-align: center;
                    padding: 4px 6px;
                }

                .tgico.status:after {
                    line-height: 12px;
                }
            }
        }
    }

    .bubble+.bubble {
        margin-top: 5px;
    }

    .in,
    .out {
        flex-direction: row;
        align-items: flex-end;

        .bubble.transparent {
            background-color: transparent;
            box-shadow: none;
            border-radius: 0 !important;
        }

        a {
            color: $darkblue;

            &:hover {
                text-decoration: underline;
            }
        }

        .avatar {
            height: 34px;
            width: 34px;
            flex-shrink: 0;
            border-radius: 100%;
            margin-right: 5px;

            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            color: white;
            font-size: 1em;
            cursor: pointer;

            background-repeat: no-repeat;
            background-size: contain;
            transition: anim(background-image);

            &.placeholder-0 {
                background-color: #cc90e2;
            }

            &.placeholder-1 {
                background-color: #80d066;
            }

            &.placeholder-2 {
                background-color: #ecd074;
            }

            &.placeholder-3 {
                background-color: #6fb1e4;
            }

            &.placeholder-4 {
                background-color: #e57979;
            }

            &.placeholder-5 {
                background-color: #f98bae;
            }

            &.placeholder-6 {
                background-color: #73cdd0;
            }

            &.placeholder-7 {
                background-color: #fba76f;
            }
        }
    }

    .in {
        //align-items: flex-start;

        .box:hover {
            background-color: $light;
        }

        .quote {
            border-left: 2px $darkblue solid;

            .name {
                color: $darkblue;
            }
        }

        .instant-view-button {
            border-color: $darkblue;
            color: $darkblue;

            &:hover {
                background-color: $light;
            }
        }

        .audio {
            .audio-wrapper {
                .back {
                    fill: #c4c9cc;
                }
                .progress {
                    fill: $blue;
                }
            }
            .play {
                background-color: $blue;
            }
        }

        .time {
            color: rgba($darkgrey, 0.6);

            .views {
                display: flex;

                .tgico-channelviews {
                    font-size: 18px;
                    line-height: 12px;
                }
            }

            .inner {
                padding: 0px 8px;
            }
        }

        .bubble {
            background-color: #ffffff;
            border-radius: 6px 12px 12px 6px;

            .media-wrapper {
                border-radius: 6px 12px 12px 6px;
            }
        }

        .bubble:not(.grouped):not(.transparent) {
            &:before {
                content: "";
                position: absolute;
                z-index: -2;
                bottom: -1px;
                left: -5px;
                height: 20px;
                width: 14px;
                background-color: white;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            &:after {
                content: "";
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: -11px;
                width: 10px;
                height: 20px;
                background-color: #e6ebee;
                border-bottom-right-radius: 10px 15px;
                border-right: 1px solid rgba(0, 0, 0, 0.1);
            }
        }

        .bubble:first-child {
            border-radius: 12px 12px 12px 6px;

            .media-wrapper {
                border-radius: 12px 12px 12px 6px;
            }
        }

        .bubble:last-child {
            border-radius: 6px 12px 12px 0px;

            .media-wrapper {
                border-radius: 6px 12px 12px 0px;
            }
        }

        .bubble:first-child:last-child {
            border-radius: 12px 12px 12px 0px;

            .media-wrapper {
                border-radius: 12px 12px 12px 0px;
            }
        }
    }

    .out {
        align-items: flex-end;
        flex-direction: column;

        .box:hover {
            background-color: rgba($green, 0.12);
        }

        .quote {
            border-left: 2px $darkgreen solid;

            .name {
                color: $darkgreen;
            }
        }

        .instant-view-button {
            border-color: $darkgreen;
            color: $darkgreen;

            &:hover {
                background-color: rgba($green, 0.12);
            }
        }

        .audio {
            .audio-wrapper {
                .back {
                    fill: lighten($darkgreen, 25%);
                }
                .progress {
                    fill: $darkgreen;
                }
            }
            .play {
                background-color: $darkgreen;
            }
        }

        .time {
            color: $darkgreen;
            display: flex;

            .inner {
                padding: 0px 5px;
            }
        }

        .bubble {
            .time .tgico.status:after {
                font-size: 18px;
                line-height: 12px;
                vertical-align: top;
            }
        }

        .bubble.read {
            .time .tgico.status:after {
                content: $tgico-check-read;
            }
        }

        .bubble.sent {
            .time .tgico.status:after {
                content: $tgico-check-sent;
            }
        }

        .bubble {
            background-color: #eeffde;
            border-radius: 12px 6px 6px 12px;

            .media-wrapper {
                border-radius: 12px 6px 6px 12px;
            }
        }

        .bubble:not(.grouped):not(.transparent) {
            &:before {
                content: "";
                position: absolute;
                z-index: -2;
                bottom: -1px;
                right: -5px;
                height: 20px;
                width: 14px;
                background-color: $lightgreen;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            &:after {
                content: "";
                position: absolute;
                z-index: -1;
                bottom: 0;
                right: -11px;
                width: 10px;
                height: 20px;
                background-color: #e6ebee;
                border-bottom-left-radius: 10px 15px;
                border-left: 1px solid rgba(0, 0, 0, 0.05);
            }
        }

        .bubble:first-child {
            border-radius: 12px 12px 6px 12px;

            .media-wrapper {
                border-radius: 12px 12px 6px 12px;
            }
        }

        .bubble:last-child {
            border-radius: 12px 6px 0px 12px;

            .media-wrapper {
                border-radius: 12px 6px 0px 12px;
            }
        }

        .bubble:first-child:last-child {
            border-radius: 12px 12px 0px 12px;

            .media-wrapper {
                border-radius: 12px 12px 0px 12px;
            }
        }
    }
}