.modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;

    &.hidden .modal {
        animation: hidden-modal 250ms ease-in-out forwards;
    }


    &.unhidden .modal {
        animation: unhidden-modal 250ms ease-in-out forwards;
    }

    @keyframes unhidden-modal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes hidden-modal {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    &.really-hidden {
        display: none;
    }


    .modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1001;

        background-color: $semiblack;
        //transition: anim(background-color);
        display: flex;
        align-items: center;
        justify-content: center;

        .dialog {
            min-width: 280px;
            width: 400px;
            min-height: 200px;
            z-index: 10;
            //transition: anim(opacity);

            //padding: 18px;
            background-color: white;
            border-radius: 12px;

            .header {
                display: flex;
                flex-direction: row;
                height: 60px;
                font-weight: 500;
                align-items: center;

                .tgico {
                    margin-left: 10px;
                    margin-right: 22px;
                }

                >.VButton {
                    margin-left: auto;
                    margin-right: 16px;
                }

                .modal-action-btn {
                    margin-left: auto;
                    margin-right: 20px;
                    background: $blue;
                    height: 36px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-radius: 10px;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 0.8em;
                    transition: anim(background-color);
                    cursor: pointer;

                    &:hover {
                        background-color: rgba($blue, 0.8)
                    }
                }
            }

            hr {
                border-style: solid;
                border-width: 0.5px;
                border-color: $lightblue;
            }

            h5 {
                color: $darkgrey;
                font-size: 0.9em;
                margin-bottom: 16px;
            }

            .input-field {
                width: 100%;
            }

            .checkboxes {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                > * {
                    width: 100%;
                }
            }

            .padded {
                padding-left: 18px;
                padding-right: 18px;

                &.bottom {
                    padding-bottom: 16px;
                }

                &.top {
                    padding-top: 16px;
                }
            }
            //.content {
            //    padding: 18px;
            //    background-color: white;
            //    border-radius: 1em;
            //
            //    .header {
            //        //height: 54px;
            //        display: flex;
            //        width: 100%;
            //        flex-direction: row;
            //        align-items: center;
            //
            //        .close-button {
            //            font-size: 24px;
            //            margin: 0 20px 0 10px;
            //        }
            //
            //        .title {
            //            font-size: 20px;
            //            font-weight: bold;
            //        }
            //    }
            //
            //    .body {
            //        //padding: 20px;
            //        position: relative;
            //        padding-top: 16px;
            //    }
            //}
        }
    }
}

.attach-files-modal {
    min-width: 420px;
    .file-list {
        >* {
            margin-bottom: 24px;
        }
    }
}
.attach-modal {
    width: 350px;
    .input-field {
        width: 100%;
        margin-block-end: 15px;

        input {
            width: 100%;
        }
    }
}

.delete-chat-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    .avatar {
        --avatar-size: 32px;
        margin-right: 14px;
    }
}
.delete-chat-body {
    display: flex;
    flex-direction: column;
    .text {
        margin-bottom: 10px;
        line-height: 1.5;
    }
    button {
        text-align: end;
    }
}