.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;

    background-color: rgba(0, 0, 0, 0.3);

    &.hidden {
        display: none;
    }

    .dialog {
        width: 500px;
        min-height: 200px;
        margin: 30px auto;
        z-index: 10;

        .content {
            background-color: white;
            border-radius: 1em;

            .header {
                height: 54px;
                display: flex;
                width: 100%;
                flex-direction: row;
                align-items: center;

                .close-button {
                    font-size: 24px;
                    margin: 0 20px 0 10px;
                }

                .title {
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .body {
                padding: 20px;
                position: relative;
            }
        }
    }
}