.sidebar {
  $border: 1px $lightgrey solid;
  background-color: #fff;
  border-right: $border;
  max-width: 422px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 60px;
  position: relative;
  transition: anim(width);

  &.hidden {
    width: 0;
  }

  &.right {
    border-right: none;
    border-left: $border;
  }

  &.settings {
    height: 100%;
    position: absolute;
    z-index: 20;

    &.hidden {
      display: none;
    }
    .background-color {
      padding: 0 5px;
      .gallery {
        display: grid;
        grid-template-columns: repeat(3, minmax(8rem, 1fr));
        grid-auto-rows: 1fr;

        &::before {
          content: '';
          width: 0;
          padding-bottom: 100%;
          grid-row: 1 / 1;
          grid-column: 1 / 1;
        }

        & > *:first-child {
          grid-row: 1 / 1;
          grid-column: 1 / 1;
        }

        .color-square {
          margin: 2px;
          cursor: pointer;
        }
      }
    }
  }
}