.sidebar {
    $border: 1px $lightgrey solid;
    background-color: #fff;
    border-right: $border;
    max-width: 422px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 60px;
    position: relative;
    transition: anim(width);

    &.hidden {
        width: 0;
    }

    &.right {
        border-right: none;
        border-left: $border;
    }

    .sidebar-header {
        padding: 8px 14px;
        display: flex;
        align-items: center;

        .sidebar-title {
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            margin-left: 22px;
        }

        .tgico {
            color: $darkgrey;
            font-size: 24px;
            flex-shrink: 0;
        }
    }
    .hidden {
      display: none;
    }

    &.settings {
        height: 100%;
        position: absolute;
        overflow-x: hidden;
        padding-top: 0;
        z-index: 101;

        .settings-header {
            display: flex;
        }

        .fade-in {
          left: 0 !important;
        }

        .fade-out {
          left: -1000px !important;
        }

        .settings-main {
            .photo-container {
                height: 120px;
                width: 100%;
                position: relative;

                .photo {
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    border-radius: 50%;
                    max-width: 120px;
                }
            }

            .username {
                padding-top: 10px;
                font-weight: bold;
                font-size: 24px;
                text-align: center;
                margin: 0 auto;
            }

            .phone-number {
                padding-top: 5px;
                color: $darkgrey;
                text-align: center;
                margin: 0 auto;
            }

            .list-menu {
              margin-top: 20px;
                .menu-item {
                    margin: 1px 5px;
                    display: flex;
                    height: 50px;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 5px;
                    transition: anim(background-color);

                    &:hover {
                        background-color: $light;
                    }

                    .menu-icon {
                        color: $darkgrey;
                        font-size: 24px;
                        margin: 0px 20px;
                    }
                }
            }
        }

        .background-color {
            padding: 0 5px;
            position: absolute;
            top: 0;
            left: 500px;
            height: 100%;
            background-color: white;
            transition: anim(left);

            .gallery {
                display: grid;
                grid-template-columns: repeat(3, minmax(8rem, 1fr));
                grid-auto-rows: 1fr;

                &::before {
                    content: '';
                    width: 0;
                    padding-bottom: 100%;
                    grid-row: 1 / 1;
                    grid-column: 1 / 1;
                }

                &>*:first-child {
                    grid-row: 1 / 1;
                    grid-column: 1 / 1;
                }

                .color-square {
                    margin: 2px;
                    cursor: pointer;
                }
            }
        }
    }
}