.snackbar-container {
    position: fixed;
    z-index: 9999999;
    left: 50%;
    bottom: 30px;
}

.snackbar {
    min-width: 250px;
    margin-left: -125px;
    margin-bottom: 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    padding: 16px;
    z-index: 9999999;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .10);

    &.success {
        background-color: $green;
    }

    &.error {
        background-color: $red;
    }
}

.snackbar.show {
    -webkit-animation: fadein 250ms;
    animation: fadein 250ms;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}