.snackbar-container {
    position: absolute;
    z-index: 99999;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    display: block !important; // DEBUG
}

.snackbar {
    min-width: 100px;
    max-width: 300px;
    background-color: rgba(black, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    //z-index: 9999999;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .10);

    &.success {
        background-color: $green;
    }

    &.error {
        background-color: $red;
    }

    .solution {
        display: flex;
        align-items: center;

        .tgico {
            font-size: 24px;
        }

        .text {
            text-align: left;
            padding-left: 10px;
        }
    }
}

.snackbar.show {
    -webkit-animation: fadein 250ms;
    animation: fadein 250ms;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}