.toolbar {
	padding: 8px 14px;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	box-sizing: border-box;
}

.btn-icon {
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 24px;
	border-radius: 50%;
	transition: anim(background-color);
	color: $darkgrey;
	cursor: pointer;
	&:hover {
		background-color: $light;
	}
}

.search {
	flex-grow: 1;
}

.input-search {
	position: relative;
	margin: 0 9px;

	input[type="text"] {
		background-color: $light;
		border: 2px solid transparent;
		height: 44px;
		line-height: 36px;
		border-radius: 22px;
		box-sizing: border-box;
		padding: 0 16px 0 40px;
		transition: anim(all);
	}

	input[type="text"]:focus {
		background-color: rgba($light, 0);
		border: 2px solid $blue;
		& + span.tgico {
			color: $blue;
			opacity: 1;
		}
	}

	.tgico {
		position: absolute;
		left: 0;
		top: 0;
		width: 48px;
		height: 44px;
		text-align: center;
		line-height: 42px;
		font-size: 24px;
		color: $darkgrey;
		opacity: 0.6;
		transition: anim(all);
	}
}
