$lightblue: #e6ebee;
$blue: #4ea4f6;
$bluehover: #4796E1;

$darkblue: #1da1f1;
$blueonline: #3390EC;

$lightgreen: #eeffde;
$green: #4dcd5e;
$darkgreen: #50af4f;

$dotgreen: #0ac630;

$verylightgrey: #eceef2;
$lightgrey: #dadce0;
$grey: #c4c9cc;
$dark: #222;
$darkgrey: #707579;
$darkgreytext: #8b8b8b;
$darkgreyicon: #8c8c8c;

$semiblack: rgba(0,0,0,0.3);

$newgrey: #8D969C;

$red: #DF3F40;

$light: rgba($darkgrey, 0.08);

$text: #000000;
$bg: #ffffff;

$text-size: 16px;
$time-size: 12px;

$connecting-color: #FED85A;

$max-chat-width: 700px;
$chat-input-height: 54px;
$attachment-width: 54px;

$instantview-link-background: #ECF2FF;
$instantview-link-foreground: #348AE1;
$instantview-light-blue: #F3F8FC;

@function anim($elem) {
	@return 150ms ease-in-out $elem;
}

@import "ico";
